## joining in dataframes
#types of join 
1 inner
2 left
3 right 
4 left outer
* 5 right outer 
* 6 full outer join  ===  ie all rows which are not common 
* 7 broadcast join 
8 cartition product , cross join 

* Inner Join - **join** or **inner join**
* **Left** or **Right Outer Join**
* Full Outer Join - **a left outer join b** union **a right outer join b**
* Cross Join
* Spark Data Frames have a function called `join`. It can be used to perform inner or outer or full outer join.
* We need to specify **join condition** for Inner or Outer or Full Outer Join.

In [0]:
from pyspark.sql import Row

In [0]:
import datetime
courses = [
    {
        'course_id': 1,
        'course_title': 'Mastering Python',
        'course_published_dt': datetime.date(2021, 1, 14),
        'is_active': True,
        'last_updated_ts': datetime.datetime(2021, 2, 18, 16, 57, 25)
    },
    {
        'course_id': 2,
        'course_title': 'Data Engineering Essentials',
        'course_published_dt': datetime.date(2021, 2, 10),
        'is_active': True,
        'last_updated_ts': datetime.datetime(2021, 3, 5, 12, 7, 33)
    },
    {
        'course_id': 3,
        'course_title': 'Mastering Pyspark',
        'course_published_dt': datetime.date(2021, 1, 7),
        'is_active': True,
        'last_updated_ts': datetime.datetime(2021, 4, 6, 10, 5, 42)
    },
    {
        'course_id': 4,
        'course_title': 'AWS Essentials',
        'course_published_dt': datetime.date(2021, 3, 19),
        'is_active': False,
        'last_updated_ts': datetime.datetime(2021, 4, 10, 2, 25, 36)
    },
    {
        'course_id': 5,
        'course_title': 'Docker 101',
        'course_published_dt': datetime.date(2021, 2, 28),
        'is_active': True,
        'last_updated_ts': datetime.datetime(2021, 3, 21, 7, 18, 52)
    }
]

courses_df = spark.createDataFrame([Row(**course) for course in courses])

In [0]:
users = [{
  "user_id": 1,
  "user_first_name": "Sandra",
  "user_last_name": "Karpov",
  "user_email": "skarpov0@ovh.net"
}, {
  "user_id": 2,
  "user_first_name": "Kari",
  "user_last_name": "Dearth",
  "user_email": "kdearth1@so-net.ne.jp"
}, {
  "user_id": 3,
  "user_first_name": "Joanna",
  "user_last_name": "Spennock",
  "user_email": "jspennock2@redcross.org"
}, {
  "user_id": 4,
  "user_first_name": "Hirsch",
  "user_last_name": "Conaboy",
  "user_email": "hconaboy3@barnesandnoble.com"
}, {
  "user_id": 5,
  "user_first_name": "Loreen",
  "user_last_name": "Malin",
  "user_email": "lmalin4@independent.co.uk"
}, {
  "user_id": 6,
  "user_first_name": "Augy",
  "user_last_name": "Christon",
  "user_email": "achriston5@mlb.com"
}, {
  "user_id": 7,
  "user_first_name": "Trudey",
  "user_last_name": "Choupin",
  "user_email": "tchoupin6@de.vu"
}, {
  "user_id": 8,
  "user_first_name": "Nadine",
  "user_last_name": "Grimsdell",
  "user_email": "ngrimsdell7@sohu.com"
}, {
  "user_id": 9,
  "user_first_name": "Vassily",
  "user_last_name": "Tamas",
  "user_email": "vtamas8@businessweek.com"
}, {
  "user_id": 10,
  "user_first_name": "Wells",
  "user_last_name": "Simpkins",
  "user_email": "wsimpkins9@amazon.co.uk"
}]

users_df = spark.createDataFrame([Row(**user) for user in users])

In [0]:
course_enrolments = [{
  "course_enrolment_id": 1,
  "user_id": 10,
  "course_id": 2,
  "price_paid": 9.99
}, {
  "course_enrolment_id": 2,
  "user_id": 5,
  "course_id": 2,
  "price_paid": 9.99
}, {
  "course_enrolment_id": 3,
  "user_id": 7,
  "course_id": 5,
  "price_paid": 10.99
}, {
  "course_enrolment_id": 4,
  "user_id": 9,
  "course_id": 2,
  "price_paid": 9.99
}, {
  "course_enrolment_id": 5,
  "user_id": 8,
  "course_id": 2,
  "price_paid": 9.99
}, {
  "course_enrolment_id": 6,
  "user_id": 5,
  "course_id": 5,
  "price_paid": 10.99
}, {
  "course_enrolment_id": 7,
  "user_id": 4,
  "course_id": 5,
  "price_paid": 10.99
}, {
  "course_enrolment_id": 8,
  "user_id": 7,
  "course_id": 3,
  "price_paid": 10.99
}, {
  "course_enrolment_id": 9,
  "user_id": 8,
  "course_id": 5,
  "price_paid": 10.99
}, {
  "course_enrolment_id": 10,
  "user_id": 3,
  "course_id": 3,
  "price_paid": 10.99
}, {
  "course_enrolment_id": 11,
  "user_id": 7,
  "course_id": 5,
  "price_paid": 10.99
}, {
  "course_enrolment_id": 12,
  "user_id": 3,
  "course_id": 2,
  "price_paid": 9.99
}, {
  "course_enrolment_id": 13,
  "user_id": 5,
  "course_id": 2,
  "price_paid": 9.99
}, {
  "course_enrolment_id": 14,
  "user_id": 4,
  "course_id": 3,
  "price_paid": 10.99
}, {
  "course_enrolment_id": 15,
  "user_id": 8,
  "course_id": 2,
  "price_paid": 9.99
}]

course_enrolments_df = spark.createDataFrame([Row(**ce) for ce in course_enrolments])

In [0]:
courses_df.show(3)
users_df.show(3)
course_enrolments_df.show(3)

+---------+--------------------+-------------------+---------+-------------------+
|course_id|        course_title|course_published_dt|is_active|    last_updated_ts|
+---------+--------------------+-------------------+---------+-------------------+
|        1|    Mastering Python|         2021-01-14|     true|2021-02-18 16:57:25|
|        2|Data Engineering ...|         2021-02-10|     true|2021-03-05 12:07:33|
|        3|   Mastering Pyspark|         2021-01-07|     true|2021-04-06 10:05:42|
+---------+--------------------+-------------------+---------+-------------------+
only showing top 3 rows

+-------+---------------+--------------+--------------------+
|user_id|user_first_name|user_last_name|          user_email|
+-------+---------------+--------------+--------------------+
|      1|         Sandra|        Karpov|    skarpov0@ovh.net|
|      2|           Kari|        Dearth|kdearth1@so-net.n...|
|      3|         Joanna|      Spennock|jspennock2@redcro...|
+-------+---------------+--------------+--------------------+
only showing top 3 rows

+-------------------+-------+---------+----------+
|course_enrolment_id|user_id|course_id|price_paid|
+-------------------+-------+---------+----------+
|                  1|     10|        2|      9.99|
|                  2|      5|        2|      9.99|
|                  3|      7|        5|     10.99|
+-------------------+-------+---------+----------+
only showing top 3 rows

In [0]:
## defining alias 

# alias(alias) method of pyspark.sql.dataframe.DataFrame instance
#     Returns a new :class:`DataFrame` with an alias set
courses_df.alias('c').select('c.course_id').show(3)

+---------+
|course_id|
+---------+
|        1|
|        2|
|        3|
+---------+
only showing top 3 rows

* Get the user details who have enrolled for the courses.
  * Need to join **users_df** and **course_enrolments_df**.
  * Here are the fields that needs to be displayed.
    * All fields from `users_df`
    * `course_id` and `course_enrolment_id` from `course_enrolments`

In [0]:
users_df.join(course_enrolments_df,users_df.user_id == course_enrolments_df.user_id).show(2)

# as both data frames have user id using same name, we can pass column name as string as well
users_df.join(course_enrolments_df,'user_id').show(2)
#note as both have same name column for joining condition  we can directly pass it 
## there is no nee to give on condition 
users_df.join(course_enrolments_df,users_df.user_id == course_enrolments_df.user_id)\
        .select(users_df['*'],course_enrolments_df['course_id'],course_enrolments_df['course_enrolment_id']).show(2)

# users_df.join(course_enrolments_df,users_df.user_id == course_enrolments_df.user_id)\
#         .select('users_df.','course_enrolments_df.course_id','course_enrolments_df.course_enrolment_id').show(2)

# Note: above geting fail so we are using alias 
users_df.alias('u'). \
    join(course_enrolments_df.alias('ce'), users_df.user_id == course_enrolments_df.user_id). \
    select('u.*', 'course_id', 'course_enrolment_id'). \
    show(2)

# note: alias is usefull while selecting all columns from dataFrame ,
#  Imp notes : alias also usefull while grouping the data using  grouping when both dataframe have same name 
users_df.join(course_enrolments_df, 'user_id').groupBy('user_id').count().show(2)

+-------+---------------+--------------+--------------------+-------------------+-------+---------+----------+
|user_id|user_first_name|user_last_name|          user_email|course_enrolment_id|user_id|course_id|price_paid|
+-------+---------------+--------------+--------------------+-------------------+-------+---------+----------+
|      3|         Joanna|      Spennock|jspennock2@redcro...|                 10|      3|        3|     10.99|
|      3|         Joanna|      Spennock|jspennock2@redcro...|                 12|      3|        2|      9.99|
+-------+---------------+--------------+--------------------+-------------------+-------+---------+----------+
only showing top 2 rows

+-------+---------------+--------------+--------------------+-------------------+---------+----------+
|user_id|user_first_name|user_last_name|          user_email|course_enrolment_id|course_id|price_paid|
+-------+---------------+--------------+--------------------+-------------------+---------+----------+
|      3|         Joanna|      Spennock|jspennock2@redcro...|                 10|        3|     10.99|
|      3|         Joanna|      Spennock|jspennock2@redcro...|                 12|        2|      9.99|
+-------+---------------+--------------+--------------------+-------------------+---------+----------+
only showing top 2 rows

+-------+---------------+--------------+--------------------+---------+-------------------+
|user_id|user_first_name|user_last_name|          user_email|course_id|course_enrolment_id|
+-------+---------------+--------------+--------------------+---------+-------------------+
|      3|         Joanna|      Spennock|jspennock2@redcro...|        3|                 10|
|      3|         Joanna|      Spennock|jspennock2@redcro...|        2|                 12|
+-------+---------------+--------------+--------------------+---------+-------------------+
only showing top 2 rows

+-------+---------------+--------------+--------------------+---------+-------------------+
|user_id|user_first_name|user_last_name|          user_email|course_id|course_enrolment_id|
+-------+---------------+--------------+--------------------+---------+-------------------+
|      3|         Joanna|      Spennock|jspennock2@redcro...|        3|                 10|
|      3|         Joanna|      Spennock|jspennock2@redcro...|        2|                 12|
+-------+---------------+--------------+--------------------+---------+-------------------+
only showing top 2 rows

+-------+-----+
|user_id|count|
+-------+-----+
|      3|    2|
|      4|    2|
+-------+-----+
only showing top 2 rows

## performing left join,right join , left_outer_join

In [0]:
## note: join(other, on=None, how=None)
###mostImp :
## how = left_outer,left,right,right_outer
### outer or full or fullouter or full_outer are same

# note: for crossJoin we use .crossJoin insted of join  === get cartition product  OR can use 'cross '

users_df.join(course_enrolments_df, users_df.user_id == course_enrolments_df.user_id, 'left').show(4)

+-------+---------------+--------------+--------------------+-------------------+-------+---------+----------+
|user_id|user_first_name|user_last_name|          user_email|course_enrolment_id|user_id|course_id|price_paid|
+-------+---------------+--------------+--------------------+-------------------+-------+---------+----------+
|      1|         Sandra|        Karpov|    skarpov0@ovh.net|               null|   null|     null|      null|
|      2|           Kari|        Dearth|kdearth1@so-net.n...|               null|   null|     null|      null|
|      3|         Joanna|      Spennock|jspennock2@redcro...|                 10|      3|        3|     10.99|
|      3|         Joanna|      Spennock|jspennock2@redcro...|                 12|      3|        2|      9.99|
+-------+---------------+--------------+--------------------+-------------------+-------+---------+----------+
only showing top 4 rows

In [0]:
from pyspark.sql.functions import expr,col
from pyspark.sql.functions import sum, when
users_df.alias('u'). \
    join(course_enrolments_df.alias('ce'), users_df.user_id == course_enrolments_df.user_id, 'left'). \
    groupBy('u.user_id'). \
    agg(sum(expr('''
        CASE WHEN ce.course_enrolment_id IS NULL
            THEN 0
        ELSE 1
        END
    ''')).alias('course_count')). \
    orderBy('u.user_id'). \
    show()

+-------+------------+
|user_id|course_count|
+-------+------------+
|      1|           0|
|      2|           0|
|      3|           2|
|      4|           2|
|      5|           3|
|      6|           0|
|      7|           3|
|      8|           3|
|      9|           1|
|     10|           1|
+-------+------------+

In [0]:
from pyspark.sql.functions import sum, when
course_enrolments_df.alias('ce'). \
    join(users_df.alias('u'), users_df.user_id == course_enrolments_df.user_id, 'right'). \
    groupBy('u.user_id'). \
    agg(sum(when(course_enrolments_df['course_enrolment_id'].isNull(), 0).otherwise(1)).alias('course_count')). \
    orderBy('u.user_id'). \
    show()


# note: giving multiple alias

+-------+------------+
|user_id|course_count|
+-------+------------+
|      1|           0|
|      2|           0|
|      3|           2|
|      4|           2|
|      5|           3|
|      6|           0|
|      7|           3|
|      8|           3|
|      9|           1|
|     10|           1|
+-------+------------+

# importing the data

In [0]:
users1 = [
    {
        "email":"alovett0@nsw.gov.au",
        "first_name":"Aundrea",
        "last_name":"Lovett",
        "gender":"Male",
        "ip_address":"62.72.1.143"
    },
    {
        "email":"bjowling1@spiegel.de",
        "first_name":"Bettine",
        "last_name":"Jowling",
        "gender":"Female",
        "ip_address":"26.250.197.47"
    },
    {
        "email":"rablitt2@technorati.com",
        "first_name":"Reggie",
        "last_name":"Ablitt",
        "gender":"Male",
        "ip_address":"104.181.218.238"
    },
    {
        "email":"tgavahan3@printfriendly.com",
        "first_name":"Ted",
        "last_name":"Gavahan",
        "gender":"Female",
        "ip_address":"216.80.86.100"
    },
    {
        "email":"ccastellan4@bloglovin.com",
        "first_name":"Chantal",
        "last_name":"Castellan",
        "gender":"Female",
        "ip_address":"178.93.82.145"
    },
    {
        "email":"hcurrier5@hexun.com",
        "first_name":"Herrick",
        "last_name":"Currier",
        "gender":"Male",
        "ip_address":"98.120.5.78"
    },
    {
        "email":"zlendrem6@columbia.edu",
        "first_name":"Zorina",
        "last_name":"Lendrem",
        "gender":"Female",
        "ip_address":"219.128.213.53"
    },
    {
        "email":"lbutland7@time.com",
        "first_name":"Lilas",
        "last_name":"Butland",
        "gender":"Female",
        "ip_address":"109.110.131.151"
    },
    {
        "email":"palfonsetti8@ask.com",
        "first_name":"Putnam",
        "last_name":"Alfonsetti",
        "gender":"Female",
        "ip_address":"167.97.48.246"
    },
    {
        "email":"hunitt9@bizjournals.com",
        "first_name":"Holden",
        "last_name":"Unitt",
        "gender":"Female",
        "ip_address":"142.228.161.192"
    },
    {
        "email":"dmcmorrana@reference.com",
        "first_name":"Dorice",
        "last_name":"McMorran",
        "gender":"Female",
        "ip_address":"233.1.28.220"
    },
    {
        "email":"afaulconerb@barnesandnoble.com",
        "first_name":"Andris",
        "last_name":"Faulconer",
        "gender":"Female",
        "ip_address":"109.40.175.103"
    },
    {
        "email":"kupexc@sun.com",
        "first_name":"Krispin",
        "last_name":"Upex",
        "gender":"Male",
        "ip_address":"154.110.22.75"
    },
    {
        "email":"fmancktelowd@youku.com",
        "first_name":"Farand",
        "last_name":"Mancktelow",
        "gender":"Genderqueer",
        "ip_address":"190.20.187.10"
    },
    {
        "email":"kdodgshune@google.com",
        "first_name":"Kellyann",
        "last_name":"Dodgshun",
        "gender":"Female",
        "ip_address":"80.247.105.228"
    }
]

from pyspark.sql import Row
users1_df = spark.createDataFrame([Row(**user) for user in users1])


users2 = [{
        "email":"lbutland7@time.com",
        "first_name":"Lilas",
        "last_name":"Butland",
        "gender":"Female",
        "ip_address":"109.110.131.151"
    },
    {
        "email":"palfonsetti8@ask.com",
        "first_name":"Putnam",
        "last_name":"Alfonsetti",
        "gender":"Female",
        "ip_address":"167.97.48.246"
    },
    {
        "email":"hunitt9@bizjournals.com",
        "first_name":"Holden",
        "last_name":"Unitt",
        "gender":"Female",
        "ip_address":"142.228.161.192"
    },
    {
        "email":"dmcmorrana@reference.com",
        "first_name":"Dorice",
        "last_name":"McMorran",
        "gender":"Female",
        "ip_address":"233.1.28.220"
    },
    {
        "email":"afaulconerb@barnesandnoble.com",
        "first_name":"Andris",
        "last_name":"Faulconer",
        "gender":"Female",
        "ip_address":"109.40.175.103"
    },
    {
        "email":"kupexc@sun.com",
        "first_name":"Krispin",
        "last_name":"Upex",
        "gender":"Male",
        "ip_address":"154.110.22.75"
    },
    {
        "email":"fmancktelowd@youku.com",
        "first_name":"Farand",
        "last_name":"Mancktelow",
        "gender":"Genderqueer",
        "ip_address":"190.20.187.10"
    },
    {
        "email":"kdodgshune@google.com",
        "first_name":"Kellyann",
        "last_name":"Dodgshun",
        "gender":"Female",
        "ip_address":"80.247.105.228"
    },
    {
        "email":"kbaressf@geocities.jp",
        "first_name":"Karly",
        "last_name":"Baress",
        "gender":"Female",
        "ip_address":"145.232.153.145"
    },
    {
        "email":"amillinsg@com.com",
        "first_name":"Adelaide",
        "last_name":"Millins",
        "gender":"Female",
        "ip_address":"75.160.220.182"
    },
    {
        "email":"skemsleyh@quantcast.com",
        "first_name":"Shir",
        "last_name":"Kemsley",
        "gender":"Male",
        "ip_address":"234.195.73.177"
    },
    {
        "email":"kchomiszewskii@simplemachines.org",
        "first_name":"Kristo",
        "last_name":"Chomiszewski",
        "gender":"Female",
        "ip_address":"60.91.73.198"
    },
    {
        "email":"rkelwickj@baidu.com",
        "first_name":"Rosemonde",
        "last_name":"Kelwick",
        "gender":"Genderfluid",
        "ip_address":"42.50.134.65"
    }
]

from pyspark.sql import Row
users2_df = spark.createDataFrame([Row(**user) for user in users2])

In [0]:
# Using alias
from pyspark.sql.functions import coalesce
users1_df.alias('u1'). \
    join(users2_df.alias('u2'), users1_df.email == users2_df.email, 'full'). \
    select(
        coalesce('u1.email', 'u2.email').alias('email'),
        coalesce('u1.first_name', 'u2.first_name').alias('first_name'),
        coalesce('u1.last_name', 'u2.last_name').alias('last_name'),
        coalesce('u1.gender', 'u2.gender').alias('gender'),
        coalesce('u1.ip_address', 'u2.ip_address').alias('ip_address'),
    ). \
    show(2)

+--------------------+----------+---------+------+--------------+
|               email|first_name|last_name|gender|    ip_address|
+--------------------+----------+---------+------+--------------+
|afaulconerb@barne...|    Andris|Faulconer|Female|109.40.175.103|
| alovett0@nsw.gov.au|   Aundrea|   Lovett|  Male|   62.72.1.143|
+--------------------+----------+---------+------+--------------+
only showing top 2 rows

* It is also known as map side as well as replicated join.
* The smaller data set will be broadcasted to all the executors in the cluster.
* The size of the smaller data set is driven by `spark.sql.autoBroadcastJoinThreshold`.
* We can even perform broadcast join when the smaller data set size is greater than `spark.sql.autoBroadcastJoinThreshold` by using `broadcast` function from `pyspark.sql.functions`.
* We can disable broadcast join by setting `spark.sql.autoBroadcastJoinThreshold` value to 0.
* If broadcast join is disabled then it will result in reduce side join.
* Make sure to setup multinode cluster using 28 GB Memory, 4 Cores each. Configure scaling between 2 and 4 nodes. Driver can be of minimum configuration.

In [0]:
# Default size is 10 MB.
spark.conf.get('spark.sql.autoBroadcastJoinThreshold')
# We can disable broadcast join using this approach
spark.conf.set('spark.sql.autoBroadcastJoinThreshold', '0')
# We can enable broadcast join using this approach
spark.conf.set('spark.sql.autoBroadcastJoinThreshold', '1')
# Resetting to original value
spark.conf.set('spark.sql.autoBroadcastJoinThreshold', '10485760b')

In [0]:
from pyspark.sql.functions import broadcast

## note : for importing the broadCast join

In [0]:
%%time

# Default will be reduce side join as the size of smaller data set is more than 10 MB (default broadcast size)
clickstream.join(articles, articles.id == clickstream.curr_id).count()

In [0]:
%%time
# We can use broadcast function to override existing broadcast join threshold
# We can also override by using this code spark.conf.set('spark.sql.autoBroadcastJoinThreshold', '1500m')
broadcast(clickstream).join(articles, articles.id == clickstream.curr_id).count()

## note: we use broadcast(dataframe) === to braodcast the dataFrame

## cross join

In [0]:
# Number of records will be equal to 
# number of records in first data frame multipled by number of records in second data frame
print(users_df.crossJoin(courses_df).count())

# Even join with out conditions result in cross join or cartesian product
users_df.join(courses_df).count()
## note : here we have not specified joining condition  so it will be 
users_df.join(courses_df, how='cross').show(2)
## all are basically same

50
+-------+---------------+--------------+----------------+---------+--------------------+-------------------+---------+-------------------+
|user_id|user_first_name|user_last_name|      user_email|course_id|        course_title|course_published_dt|is_active|    last_updated_ts|
+-------+---------------+--------------+----------------+---------+--------------------+-------------------+---------+-------------------+
|      1|         Sandra|        Karpov|skarpov0@ovh.net|        1|    Mastering Python|         2021-01-14|     true|2021-02-18 16:57:25|
|      1|         Sandra|        Karpov|skarpov0@ovh.net|        2|Data Engineering ...|         2021-02-10|     true|2021-03-05 12:07:33|
+-------+---------------+--------------+----------------+---------+--------------------+-------------------+---------+-------------------+
only showing top 2 rows

# reading dataframe from csv,json,tsf,txt,parquet

In [0]:
schema = """
    order_id INT,
    order_date TIMESTAMP,
    order_customer_id INT,
    order_status STRING
"""

orders1 = spark.read.schema(schema).csv('/FileStore/tables/orders-1.csv')
orders1.show(2)
orders1.printSchema()
orders1.dtypes

+--------+-------------------+-----------------+---------------+
|order_id|         order_date|order_customer_id|   order_status|
+--------+-------------------+-----------------+---------------+
|       1|2013-07-25 00:00:00|            11599|         CLOSED|
|       2|2013-07-25 00:00:00|              256|PENDING_PAYMENT|
+--------+-------------------+-----------------+---------------+
only showing top 2 rows

root
 |-- order_id: integer (nullable = true)
 |-- order_date: timestamp (nullable = true)
 |-- order_customer_id: integer (nullable = true)
 |-- order_status: string (nullable = true)

Out[65]: [('order_id', 'int'),
 ('order_date', 'timestamp'),
 ('order_customer_id', 'int'),
 ('order_status', 'string')]

In [0]:
%fs ls /FileStore/tables

path,name,size,modificationTime
dbfs:/FileStore/tables/Exp_Salaries.csv,Exp_Salaries.csv,1183,1612520390000
dbfs:/FileStore/tables/PHive/,PHive/,0,0
dbfs:/FileStore/tables/airtrafic_all_snappy-1.parquet,airtrafic_all_snappy-1.parquet,14654075,1670621745000
dbfs:/FileStore/tables/airtrafic_all_snappy.parquet,airtrafic_all_snappy.parquet,14654075,1670598033000
dbfs:/FileStore/tables/annual_enterprise_survey_2019_financial_year_provisional_csv-1.csv,annual_enterprise_survey_2019_financial_year_provisional_csv-1.csv,5134576,1611592031000
dbfs:/FileStore/tables/annual_enterprise_survey_2019_financial_year_provisional_csv.csv,annual_enterprise_survey_2019_financial_year_provisional_csv.csv,5134576,1611591930000
dbfs:/FileStore/tables/catsvdogs.xlsx,catsvdogs.xlsx,12943,1612519825000
dbfs:/FileStore/tables/customer.json,customer.json,3105168,1670598431000
dbfs:/FileStore/tables/delta_lake.txt,delta_lake.txt,318,1612517335000
dbfs:/FileStore/tables/movie_dataset.txt,movie_dataset.txt,23432179,1614010505000
dbfs:/FileStore/tables/orderItems.json,orderItems.json,28655610,1670598265000
dbfs:/FileStore/tables/orders-1.csv,orders-1.csv,2999944,1670843400000
dbfs:/FileStore/tables/orders-1.json,orders-1.json,7477339,1670626261000
dbfs:/FileStore/tables/orders-2.json,orders-2.json,7477339,1670626328000
dbfs:/FileStore/tables/orders-3.json,orders-3.json,7477339,1670626536000
dbfs:/FileStore/tables/orders-4.json,orders-4.json,7477339,1670835162000
dbfs:/FileStore/tables/orders.csv,orders.csv,2999944,1670809503000
dbfs:/FileStore/tables/orders.json,orders.json,7477339,1670597773000
dbfs:/FileStore/tables/ordersItems.json,ordersItems.json,28655610,1670835527000
dbfs:/FileStore/tables/part_00000.csv,part_00000.csv,8548,1670598762000

In [0]:
orders2 = spark.read.json('/FileStore/tables/orders-5.json')
orders2.printSchema

Out[67]: <bound method DataFrame.printSchema of DataFrame[order_customer_id: bigint, order_date: string, order_id: bigint, order_status: string]>

# converting json data to paraquate

In [0]:
import getpass
username = getpass.getuser()
input_dir = '/public/retail_db_json'
output_dir = f'/user/{username}/retail_db_parquet'

## note: above we are reading the directories

In [0]:
## note :
## write.parquet
for file_details in dbutils.fs.ls(input_dir):
    if not ('.git' in file_details.path or file_details.path.endswith('sql')):
        print(f'Converting data in {file_details.path} folder from json to parquet')
        data_set_dir = file_details.path.split('/')[-2]
        df = spark.read.json(file_details.path)
        df.coalesce(1).write.parquet(f'{output_dir}/{data_set_dir}', mode='overwrite')
        
# here we are reading all the files in directory  in dataFrame 
## then we are using coalesce(1) == ie making single partion for one dataFrame and writng this to .write.paraquet(f'{}',mode='overwrite')

## # Generate CSV files with pipe delimiter

In [0]:
for file_details in dbutils.fs.ls(input_dir):
    if 'git' not in file_details.path and 'sql' not in file_details.path:
        print(f'Converting data in {file_details.path} folder from comma separated to pipe separated')
        df = spark.read.csv(file_details.path)
        folder_name = file_details.path.split('/')[-2]
        df.coalesce(1).write.mode('overwrite').csv(f'{output_dir}/{folder_name}', sep='|')

In [0]:
# Copy all the data with comma separator to pipe separator
import getpass
username = getpass.getuser()

input_dir = '/public/retail_db'
output_dir = f'/user/{username}/retail_db_pipe'
dbutils.fs.ls('/public/retail_db')

## note: specifing the folder

In [0]:
# Generate CSV files with pipe delimiter
for file_details in dbutils.fs.ls(input_dir):
    if 'git' not in file_details.path and 'sql' not in file_details.path:
        print(f'Converting data in {file_details.path} folder from comma separated to pipe separated')
        df = spark.read.csv(file_details.path)
        folder_name = file_details.path.split('/')[-2]
        df.coalesce(1).write.mode('overwrite').csv(f'{output_dir}/{folder_name}', sep='|')

Overview of Reading Data Files into Spark Data Frames

In [0]:
## note: important 
##Spark.read.format('<foramtName>').option(<>,<>).load(<path of file/folder>)
# Specifying options as arguments as well as using functions such as `option` and `options`.

## files can directly read : csv,text , json,paraquet,orc 
## ie by using spark.read.json(),spark.read.csv(),spark.read.parquet(),spark.read.orc('').
## %fs ls <path> === cheach files in DBFS 
# * Check if the files are compressed (gz, snappy, bz2, etc). Most common ones are gz and snappy.

reading csv file 
* Approach 1: spark.read.csv('path_to_folder')
* Approach 2: spark.read.format('csv').load('path_to_folder')
* We can explicitly specify the schema as string or using StructType

In [0]:
# Default behavior
# It will delimit the data using comma as separator
# Column names will be system generated
# All the fields will be of type strings
orders = spark.read.csv('/public/retail_db/orders')

# note:  deafault give column Name as _c ...

In [0]:
## reading with scheam 
schema = """
    order_id INT,
    order_date TIMESTAMP,
    order_customer_id INT,
    order_status STRING
"""
df=spark.read.csv(<path>,schema=schema)
df.types
## ddl style reading schema

In [0]:
## note: need to add files 
from pyspark.sql.types import StructType, StructField, IntegerType, TimestampType, StringType
schema = StructType([
    StructField('order_id', IntegerType(), nullable=False),
    StructField('order_date', TimestampType(), nullable=False),
    StructField('order_customer_id', IntegerType(), nullable=False),
    StructField('order_status', StringType(), nullable=False)
])

## note: here nullable indicate wheteher columns can have null or not 
spark.read.csv('/public/retail_db/orders', schema=schema).show()

In [0]:
## using .toDF 
columns = ['order_id', 'order_date', 'order_customer_id', 'order_status']
spark.read.option('inferSchema', True).csv('/public/retail_db/orders').dtypes
spark.read.option('inferSchema', True).csv('/public/retail_db/orders').toDF(*columns)

## * used for unpacking the columns

In [0]:
## specifing the delimiter 
spark.read.csv(f'/user/{username}/retail_db_pipe/orders', sep='|', schema=schema).show()

In [0]:
## with options 
orders = spark. \
    read. \
    csv(
        f'/user/{username}/retail_db_pipe/orders',
        sep='|',
        header=None,
        inferSchema=True
    ). \
    toDF('order_id', 'order_date', 'order_customer_id', 'order_status')

In [0]:
## with options 2
orders = spark. \
    read. \
    option('sep', '|'). \
    option('header', None). \
    option('inferSchema', True). \
    csv(f'/user/{username}/retail_db_pipe/orders'). \
    toDF('order_id', 'order_date', 'order_customer_id', 'order_status')

In [0]:
## best way to add
options = {
    'sep': '|',
    'header': None,
    'inferSchema': True
}

orders = spark. \
    read. \
    options(**options). \
    csv(f'/user/{username}/retail_db_pipe/orders'). \
    toDF('order_id', 'order_date', 'order_customer_id', 'order_status')

# reading json files

In [0]:
df = spark.read.format('json').load('/public/retail_db_json/orders')

## or 
df = spark.read.json(r'')

# Able to type cast order_id and order_customer_id to int
# Able to type case order_date to string
spark.read.json('/public/retail_db_json/orders', schema=schema).dtypes

In [0]:
schema = StructType([
    StructField('order_id', IntegerType()),
    StructField('order_date', TimestampType()),
    StructField('order_customer_id', IntegerType()),
    StructField('order_status', StringType())
])
spark.read.json('/public/retail_db_json/orders', schema=schema).show()

In [0]:
# ## why not to infer schema 
# * If inferSchema is used entire data need to be read to infer the schema accurately while creating the Data Frame.
# * If the data size is too big then additional time will be spent to infer the schema.
# * When we explicitly specify the schema, data will not be read while creating the Data Frame.
# * As we have seen we should be able to explicitly specify the schema using string or StructType.
# * Inferring Schema will come handy to quickly understand the structure of the data as part of proof of concepts as well as design.
# * Schema will be inferred by default for files of type JSON, Parquet and ORC. Column names and data types will be inferred using metadata that will be associated with these types of files.
# * Inferring the schema on CSV files will create data frames with system generated column names. If inferSchema is used, then the data frame will determine the data types. If the files contain header, then column names can be inherited using it. If not, we need to explicitly pass the columns using `toDF`.

#reading paraquet file

In [0]:
df = spark.read.parquet(f'/user/{username}/retail_db_parquet/orders')
df.inputFiles()

## note: df.inputFiles gives the loaction of file

In [0]:
## with schema 
schema1 = """
    order_id INT,
    order_date TIMESTAMP,
    order_customer_id INT,
    order_status STRING
"""

schema = StructType([
    StructField('order_id', LongType()),
    StructField('order_date', StringType()),
    StructField('order_customer_id', LongType()),
    StructField('order_status', StringType())
])

df =spark.read.paraquet(r'<file>',schema=scheam1)

df2 =spark.read.paraquet(r'<file>',schema=scheam2)

# writing the files in folders

In [0]:
## note: very imp
## we can write the files using spark.write.<mode>(r<fileLocation>,mode='overwrite/append/ignore/error')
## we can also write files using spark.write.format(<json/paraquet/csv>).save(r<path>,mode='overwrite/append/')

In [0]:
#Note: while writing the files to dataFrame
# * Make sure to analyze the schema of the Data Frame.
# * Make sure you have write permissions on the target location.
# * Understand whether you want to overwrite or append or ignore or throw exception in case target folder already exists.
# * Decide whether you would like to compress the data or not.
# * Make sure you understand whether the files will be compressed or not by default.
# * Use appropriate APIs along with right arguments based up on the requirements.

In [0]:
## writing the csv file 


#     We can write the data from Spark Data Frame into CSV files using multiple approaches.
#     Approach 1: df.write.csv('path_to_folder')
#     Approach 2: df.write.format('csv').save('path_to_folder')
#     The column names from the schema can be added as header to each of the files by saying header=True.
#     We can also write the data into files using characters other than comma as delimiters or separators.
#     We can also compress the data while writing into files using csv.

courses_df.write.format('csv').save(f'/user/{username}/courses')

courses_df.coalesce(1).write.csv(f'/user/{username}/courses', mode='overwrite', header=True)

## note : coalesce(1) will write as single partion file 
## note: partitions will create multiple part file partions 


## for using comprensions 
## here we give compression == <format> 

courses_df.coalesce(1).write.format('csv').save(f'/user/{username}/courses',mode='overwrite',compression='snappy',header=True)


## specifing delimiter while writing the file  
## converting csv to text file with delimiters 
df.coalesce(1).write.mode('overwrite').csv(f'{output_dir}/orders', sep='|')


## using options while writing the csv file 
orders.coalesce(1).write.mode('overwrite').option('compression', 'gzip').option('header', True).option('sep', '|').csv(f'{output_dir}/orders')

### db utils commands handy
* dbutils.fs.ls(f'/user/{username}/courses')
* dbutils.fs.rm(f'/user/{username}/courses', recurse=True) === to remove the files recursively

# writing file to json files

In [0]:
orders.coalesce(1).write.mode('overwrite').option('compression', 'gzip').option('header', True).option('sep', '|').csv(f'{output_dir}/orders')
## note with options 
courses_df.coalesce(1).write.json( f'/user/{username}/courses',mode='overwrite')

courses_df.coalesce(1).write.json(f'/user/{username}/courses',mode='overwrite',compression='gzip')

## with compression technique

# writing in to paraquet file format

In [0]:
courses_df.coalesce(1).write.parquet(f'/user/{username}/courses', mode='overwrite')
#or 
courses_df.coalesce(1).write.format('parquet').save(f'/user/{username}/courses', mode='overwrite')

## with comprehension 
courses_df.coalesce(1).write.parquet(f'/user/{username}/courses',mode='overwrite',compression='gzip')

# modes to write the file in spark 
%md

Different ways mode can be specified while writing data frame into files. `file_format` can be any valid out of the box format such as `text`, `csv`, `json`, `parquet`, `orc`.
* `courses_df.write.mode(saveMode).file_format(path_to_folder)`
* `courses_df.write.file_format(path_to_folder, mode=saveMode)`
* `courses_df.write.mode(saveMode).format('file_format').save(path_to_folder)`
* `courses_df.write.format('file_format').save(path_to_folder, mode=saveMode)`
 * mode = default is error ie it will through error if folder exist , 
 * mode have save , format,overite,error if exit , ignore  === into files

* ie modes like append ,overrite ... will work on default file format such as csv,json,parquet

* Understand default behavior.
  * Fails if folder exists.
  * Creates folder and then adds files to it.
  
*  important note: spark can read entire folders  ie all files at a time while reading

In [0]:
dbutils.fs.rm(f'/user/{username}/courses', recurse=True)
## note: recursive true will remove all the files in folder

# controlling the no of files in folder
* by repartition === reduce or increase the no of partions  === incure shuffling 
* and coalsce === reduce no of partions but dont gurantee same size of patitions === no shufflings === data locality principle 
* .rdd.getNumberOfPartitions() === get no of partitions

# prtitioning with columns 
 * note: repartition  === .repartion() ==controll the no of file 
  * note: partitioning === .partionBy() === column prunning === ie read data by filter which is only required
  
  ## note for partitonBy 
  * write.json() dont have partitonBy keyword argument so we need to use partitionBy(<colName>) befor write.json 
  * parquet have partitionBy keyword argument 
  
  ## note: only parquet have partitonBy(col) in keyword argument while writing the column via prunning

In [0]:
df.repartition(16).write.mode('overwrite').csv(f'/user/{username}/airlines', header=True, compression='gzip')
## repartions will create 16 part files 
df.coalesce(16).write.mode('overwrite').csv(f'/user/{username}/airlines', header=True, compression='gzip')
## controlling the no of files with repartitons and coalsece

In [0]:
## partitonby will write the files according to the partitions 
orders.withColumn('order_month', date_format('order_date', 'yyyyMM')).coalesce(1).write.partitionBy('order_month').\
parquet(f'/user/{username}/retail_db/orders_partitioned_by_month')

## this will create the partions folders according to order_month columns  and no of files within partion folder will controlled by repartitons and coalsce 

orders.withColumn('order_month', date_format('order_date', 'yyyyMM')).partitionBy('order_month')..coalesce(1).write.csv(f'/user/{username}/retail_db/orders_partitioned_by_month')
## for other files use above commands

# reading from partition by column

In [0]:
spark.read.csv('dbfs:/databricks-datasets/asa/airlines', header=True).filter('Year = 2004').count()

## reading only year partition data folder data

%md

* Spark provides robust set of pre-defined functions as part of `pyspark.sql.functions`.
* However, they might not fulfill all our requirements.
* At times, we might have to develop custom UDFs for these scenarios.
  * No function available for our requirement while applying row level transformations.
  * Also, we might have to use multiple functions due to which readability of the code is compromised.


Here are the steps we need to follow to develop and use Spark User Defined Functions.
* Develop required logic using Python as programming language.
* Register the function using `spark.udf.register`. Also assign it to a variable.
* Variable can be used as part of Data Frame APIs such as `select`, `filter`, etc.
* When we register, we register with a name. That name can be used as part of `selectExpr` or as part of Spark SQL queries using `spark.sql`.

In [0]:
## spark.udf.register(name for spark cataloge ,function ) == registering the udf functions 

## we use UDF for code readablity , find below python code 

dc = spark.udf.register('date_convert', lambda d: int(d[:10].replace('-', '')))

## here dc is spark udf function  register as date_convert 

df = spark.read.json('/FileStore/tables/orders-5.json')
df.select('order_date').show(2)

df.select(dc('order_date')).show(2)


## although we can alternativly

# cleaning the data with spark UDF

In [0]:
import pandas as pd

courses = {'course_id': ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10'],
           'course_name': ['Mastering SQL', 'Streaming Pipelines - Python', 'Head First Python',
                           'Designing Data-Intensive Applications', 'Distributed Systems', 'Database Internals',
                           'Art of Immutable Architecture', 'Graph Databases', 'Building MicroServices',
                           'Kubernetes Patterns'],
           'course_author': ['Mike Jack', 'Bob Davis', 'Elvis Presley', 'Martin Kleppmann', 'Sukumar Ghosh',
                             'Alex Petrov',
                             'Michael L. Perry', 'Ian Robinson', 'Sam Newman', 'Rolan Hub'],
           'course_status': ['   published   ', '   inactive   ', '\\N', 'published  ', '\\N', '   inactive',
                             'published   ', '\\N', '  inactive ', 'published   '],
           'course_published_dt': ['2020-07-08', '2020-03-10', '\\N', '2021-02-27', '\\N', '2021-05-14',
                                   '2021-04-18', '\\N',
                                   '2020-12-15', '2021-07-11']}

courses_df = spark.createDataFrame(pd.DataFrame(courses))


users = {'user_id': ['1001', '1002', '1003', '1004', '1005', '1006'],
         'user_name': ['BenJohnson   ', '  Halley Battles ', '  Laura Anderson  ', '  Rolanda Garza ',
                       'Angela Fox  ', 'Kerl Goldinger '],
         'user_email': ['benjohn@gmail.com', '\\N', '\\N', 'garza.roland@gmail.com', 'nshaiary@aol.com',
                        'k.gold@live.com1'],
         'user_gender': ['Male', 'Male', 'Female', 'Male', 'Female', 'Male']}

users_df = spark.createDataFrame(pd.DataFrame(users))


course_enrolments = {'course_id': ['3', '5', '8', '5', '6', '8', '7', '3'],
                     'user_id': ['1001', '1001', '1003', '1003', '1005', '1006', '1001', '1001'],
                     'enrollment_id': ['9010', '9020', '9030', '9040', '9050', '9060', '9070', '9080'],
                     'grade': ['A', '\\N', 'A', '\\N', 'B', 'C', '\\N', 'A'],
                     'department': ['AI  ', 'ML', '  CS', '  DS', '  AI', 'ML', '  CS', 'DS  ']}

course_enrolments_df = spark.createDataFrame(pd.DataFrame(course_enrolments))

In [0]:
def data_cleanse(c):
    return c.strip() if c.strip() != '\\N' else None
  
data_cleanse = spark.udf.register('data_cleanse', data_cleanse)

courses_df.show(15,False)

## here we can see the data in course_status  being dirty data not in std Format
## we are cleaning \\n with null  and removing spaces with strip functions

+---------+-------------------------------------+----------------+---------------+-------------------+
|course_id|course_name                          |course_author   |course_status  |course_published_dt|
+---------+-------------------------------------+----------------+---------------+-------------------+
|1        |Mastering SQL                        |Mike Jack       |   published   |2020-07-08         |
|2        |Streaming Pipelines - Python         |Bob Davis       |   inactive    |2020-03-10         |
|3        |Head First Python                    |Elvis Presley   |\N             |\N                 |
|4        |Designing Data-Intensive Applications|Martin Kleppmann|published      |2021-02-27         |
|5        |Distributed Systems                  |Sukumar Ghosh   |\N             |\N                 |
|6        |Database Internals                   |Alex Petrov     |   inactive    |2021-05-14         |
|7        |Art of Immutable Architecture        |Michael L. Perry|published      |2021-04-18         |
|8        |Graph Databases                      |Ian Robinson    |\N             |\N                 |
|9        |Building MicroServices               |Sam Newman      |  inactive     |2020-12-15         |
|10       |Kubernetes Patterns                  |Rolan Hub       |published      |2021-07-11         |
+---------+-------------------------------------+----------------+---------------+-------------------+

In [0]:
from pyspark.sql.functions import col

In [0]:
## applying spark udf function for data cleaning 
courses_df.select(
    data_cleanse(col('course_id')).alias('course_id'),
    data_cleanse(col('course_status').alias('course_status'))
).show()

## with spark api 

courses_df.createOrReplaceTempView('courses')

spark.sql('''
    SELECT course_id, data_cleanse(course_status) AS course_status
    FROM courses
'''). \
    show()

## with spark sql

+---------+--------------------------------------------+
|course_id|data_cleanse(course_status AS course_status)|
+---------+--------------------------------------------+
|        1|                                   published|
|        2|                                    inactive|
|        3|                                        null|
|        4|                                   published|
|        5|                                        null|
|        6|                                    inactive|
|        7|                                   published|
|        8|                                        null|
|        9|                                    inactive|
|       10|                                   published|
+---------+--------------------------------------------+

+---------+-------------+
|course_id|course_status|
+---------+-------------+
|        1|    published|
|        2|     inactive|
|        3|         null|
|        4|    published|
|        5|         null|
|        6|     inactive|
|        7|    published|
|        8|         null|
|        9|     inactive|
|       10|    published|
+---------+-------------+

# advance sql trnsformations 
## Learning Objectives
By the end of this lesson, you should be able to:
- Use **`.`** and **`:`** syntax to query nested data
- Work with JSON
- Flatten and unpacking arrays and structs
- Combine datasets using joins and set operators
- Reshape data using pivot tables
- Use higher order functions for working with arrays

Spark SQL has built-in functionality to directly interact with JSON data stored as strings. We can use the **`:`** syntax to traverse nested data structures.

Spark SQL also has the ability to parse JSON objects into struct types (a native Spark type with nested attributes).

However, the from_json function requires a schema. To derive the schema of our current data, we'll start by executing a query we know will return a JSON value with no null fields.


Spark SQL also has a **`schema_of_json`** function to derive the JSON schema from an example. Here, we copy and paste an example JSON to the function and chain it into the **`from_json`** function to cast our **`value`** field to a struct type.

Spark SQL also has a **`schema_of_json`** function to derive the JSON schema from an example. Here, we copy and paste an example JSON to the function and chain it into the **`from_json`** function to cast our **`value`** field to a struct type.

* schema_od_json(value,from_json({<sampleJson>})) === this will give schema of json in string format

*# ##CREATE OR REPLACE TEMP VIEW parsed_events AS
*#   SELECT from_json(value, schema_of_json('{"device":"Linux","ecommerce":**{"purchase_revenue_in_usd":1075.5,"total_item_quantity":1,"unique_items":1},"event_name":"finalize","event_previous_timestamp":1593879231210816,"event_timestamp":1593879335779563,"geo":{"city":"Houston","state":"TX"},"items":[{"coupon":"NEWBED10","item_id":"M_STAN_K","item_name":"Standard King Mattress","item_revenue_in_usd":1075.5,"price_in_usd":1195.0,"quantity":1}],"traffic_source":"email","user_first_touch_timestamp":1593454417513109,"user_id":"UA000000106116176"}')) AS json 
*   FROM events_strings;
  
* SELECT * FROM parsed_events

*## note : in above example we have created view  named parsed_event from table event_string and now we can directly query them.

In [0]:
## SAMPLE QUERY TO QUERY NESTED JSON AS STRING
# SELECT value:device, value:geo:city 
# FROM events_strings

%md

 
## Collect Arrays

The **`collect_set`** function can collect unique values for a field, including fields within arrays.

The **`flatten`** function allows multiple arrays to be combined into a single array.

The **`array_distinct`** function removes duplicate elements from an array.

Here, we combine these queries to create a simple table that shows the unique collection of actions and the items in a user's cart.

## Higher Order Functions
Higher order functions in Spark SQL allow you to work directly with complex data types. When working with hierarchical data, records are frequently stored as array or map type objects. Higher-order functions allow you to transform data while preserving the original structure.

Higher order functions include:
- **`FILTER`** filters an array using the given lambda function.
- **`EXIST`** tests whether a statement is true for one or more elements in an array. 
- **`TRANSFORM`** uses the given lambda function to transform all elements in an array.
- **`REDUCE`** takes two lambda functions to reduce the elements of an array to a single value by merging the elements into a buffer, and the apply a finishing function on the final buffer.

## Transform
Built-in functions are designed to operate on a single, simple data type within a cell; they cannot process array values. **`TRANSFORM`** can be particularly useful when you want to apply an existing function to each element in an array. 

Compute the total revenue from king-sized items per order.

**`TRANSFORM(king_items, k -> CAST(k.item_revenue_in_usd * 100 AS INT)) AS item_revenues`**

In the statement above, for each value in the input array, we extract the item's revenue value, multiply it by 100, and cast the result to integer. Note that we're using the same kind as references as in the previous command, but we name the iterator with a new variable, **`k`**.