In [0]:
## Filtering operations

from pyspark.sql import Row
import pandas as pd
spark.conf.set('spark.sql.execution.arrow.pyspark.enabled', False)

import datetime
users = [
    {
        "id": 1,
        "first_name": "Corrie",
        "last_name": "Van den Oord",
        "email": "cvandenoord0@etsy.com",
        "gender": "male",
        "current_city": "Dallas",
        "phone_numbers": Row(mobile="+1 234 567 8901", home="+1 234 567 8911"),
        "courses": [1, 2],
        "is_customer": True,
        "amount_paid": 1000.55,
        "customer_from": datetime.date(2021, 1, 15),
        "last_updated_ts": datetime.datetime(2021, 2, 10, 1, 15, 0)
    },
    {
        "id": 2,
        "first_name": "Nikolaus",
        "last_name": "Brewitt",
        "email": "nbrewitt1@dailymail.co.uk",
        "gender": "male",
        "current_city": "Houston",
        "phone_numbers":  Row(mobile="+1 234 567 8923", home="1 234 567 8934"),
        "courses": [3],
        "is_customer": True,
        "amount_paid": 900.0,
        "customer_from": datetime.date(2021, 2, 14),
        "last_updated_ts": datetime.datetime(2021, 2, 18, 3, 33, 0)
    },
    {
        "id": 3,
        "first_name": "Orelie",
        "last_name": "Penney",
        "email": "openney2@vistaprint.com",
        "gender": "female",
        "current_city": "",
        "phone_numbers": Row(mobile="+1 714 512 9752", home="+1 714 512 6601"),
        "courses": [2, 4],
        "is_customer": True,
        "amount_paid": 850.55,
        "customer_from": datetime.date(2021, 1, 21),
        "last_updated_ts": datetime.datetime(2021, 3, 15, 15, 16, 55)
    },
    {
        "id": 4,
        "first_name": "Ashby",
        "last_name": "Maddocks",
        "email": "amaddocks3@home.pl",
        "gender": "male",
        "current_city": "San Fransisco",
        "phone_numbers": Row(mobile=None, home=None),
        "courses": [],
        "is_customer": False,
        "amount_paid": None,
        "customer_from": None,
        "last_updated_ts": datetime.datetime(2021, 4, 10, 17, 45, 30)
    },
    {
        "id": 5,
        "first_name": "Kurt",
        "last_name": "Rome",
        "email": "krome4@shutterfly.com",
        "gender": "female",
        "current_city": None,
        "phone_numbers": Row(mobile="+1 817 934 7142", home=None),
        "courses": [],
        "is_customer": False,
        "amount_paid": None,
        "customer_from": None,
        "last_updated_ts": datetime.datetime(2021, 4, 2, 0, 55, 18)
    }
]


users_df = spark.createDataFrame(pd.DataFrame(users))

In [0]:
users_df.show()

+---+----------+------------+--------------------+------+-------------+--------------------+-------+-----------+-----------+-------------+-------------------+
| id|first_name|   last_name|               email|gender| current_city|       phone_numbers|courses|is_customer|amount_paid|customer_from|    last_updated_ts|
+---+----------+------------+--------------------+------+-------------+--------------------+-------+-----------+-----------+-------------+-------------------+
|  1|    Corrie|Van den Oord|cvandenoord0@etsy...|  male|       Dallas|{+1 234 567 8901,...| [1, 2]|       true|    1000.55|   2021-01-15|2021-02-10 01:15:00|
|  2|  Nikolaus|     Brewitt|nbrewitt1@dailyma...|  male|      Houston|{+1 234 567 8923,...|    [3]|       true|      900.0|   2021-02-14|2021-02-18 03:33:00|
|  3|    Orelie|      Penney|openney2@vistapri...|female|             |{+1 714 512 9752,...| [2, 4]|       true|     850.55|   2021-01-21|2021-03-15 15:16:55|
|  4|     Ashby|    Maddocks|  amaddocks3@home.pl|  male|San Fransisco|        {null, null}|     []|      false|        NaN|         null|2021-04-10 17:45:30|
|  5|      Kurt|        Rome|krome4@shutterfly...|female|         null|{+1 817 934 7142,...|     []|      false|        NaN|         null|2021-04-02 00:55:18|
+---+----------+------------+--------------------+------+-------------+--------------------+-------+-----------+-----------+-------------+-------------------+

In [0]:

# * `where` and `filter` are synonyms
# * We can pass conditions either by using SQL Style or Non SQL Style.
# * For Non SQL Style we can pass columns using `col` function on column name as string or using the notation of`df['column_name']`

In [0]:
from pyspark.sql.functions import col

users_df.filter(col('id') == 1).show()
users_df.where(col('id') == 1).show()
users_df.filter(users_df['id'] == 1).show()

# 'id == 1' also works
users_df.filter('id = 1').show()
## here filter and where conditions are doing the same
users_df.createOrReplaceTempView('users')
spark.sql("""
    SELECT *
    FROM users
    WHERE id = 1
"""). \
    show()

+---+----------+------------+--------------------+------+------------+--------------------+-------+-----------+-----------+-------------+-------------------+
| id|first_name|   last_name|               email|gender|current_city|       phone_numbers|courses|is_customer|amount_paid|customer_from|    last_updated_ts|
+---+----------+------------+--------------------+------+------------+--------------------+-------+-----------+-----------+-------------+-------------------+
|  1|    Corrie|Van den Oord|cvandenoord0@etsy...|  male|      Dallas|{+1 234 567 8901,...| [1, 2]|       true|    1000.55|   2021-01-15|2021-02-10 01:15:00|
+---+----------+------------+--------------------+------+------------+--------------------+-------+-----------+-----------+-------------+-------------------+

+---+----------+------------+--------------------+------+------------+--------------------+-------+-----------+-----------+-------------+-------------------+
| id|first_name|   last_name|               email|gender|current_city|       phone_numbers|courses|is_customer|amount_paid|customer_from|    last_updated_ts|
+---+----------+------------+--------------------+------+------------+--------------------+-------+-----------+-----------+-------------+-------------------+
|  1|    Corrie|Van den Oord|cvandenoord0@etsy...|  male|      Dallas|{+1 234 567 8901,...| [1, 2]|       true|    1000.55|   2021-01-15|2021-02-10 01:15:00|
+---+----------+------------+--------------------+------+------------+--------------------+-------+-----------+-----------+-------------+-------------------+

+---+----------+------------+--------------------+------+------------+--------------------+-------+-----------+-----------+-------------+-------------------+
| id|first_name|   last_name|               email|gender|current_city|       phone_numbers|courses|is_customer|amount_paid|customer_from|    last_updated_ts|
+---+----------+------------+--------------------+------+------------+--------------------+-------+-----------+-----------+-------------+-------------------+
|  1|    Corrie|Van den Oord|cvandenoord0@etsy...|  male|      Dallas|{+1 234 567 8901,...| [1, 2]|       true|    1000.55|   2021-01-15|2021-02-10 01:15:00|
+---+----------+------------+--------------------+------+------------+--------------------+-------+-----------+-----------+-------------+-------------------+

+---+----------+------------+--------------------+------+------------+--------------------+-------+-----------+-----------+-------------+-------------------+
| id|first_name|   last_name|               email|gender|current_city|       phone_numbers|courses|is_customer|amount_paid|customer_from|    last_updated_ts|
+---+----------+------------+--------------------+------+------------+--------------------+-------+-----------+-----------+-------------+-------------------+
|  1|    Corrie|Van den Oord|cvandenoord0@etsy...|  male|      Dallas|{+1 234 567 8901,...| [1, 2]|       true|    1000.55|   2021-01-15|2021-02-10 01:15:00|
+---+----------+------------+--------------------+------+------------+--------------------+-------+-----------+-----------+-------------+-------------------+

+---+----------+------------+--------------------+------+------------+--------------------+-------+-----------+-----------+-------------+-------------------+
| id|first_name|   last_name|               email|gender|current_city|       phone_numbers|courses|is_customer|amount_paid|customer_from|    last_updated_ts|
+---+----------+------------+--------------------+------+------------+--------------------+-------+-----------+-----------+-------------+-------------------+
|  1|    Corrie|Van den Oord|cvandenoord0@etsy...|  male|      Dallas|{+1 234 567 8901,...| [1, 2]|       true|    1000.55|   2021-01-15|2021-02-10 01:15:00|
+---+----------+------------+--------------------+------+------------+--------------------+-------+-----------+-----------+-------------+-------------------+

In [0]:

#     Equal -> = or ==
#     Not Equal -> !=
#     Greater Than -> >
#     Less Than -> <
#     Greater Than or Equal To -> >=
#     Less Than or Equal To -> <=
#     IN Operator -> isin function or IN or contains function
#     Between Operator -> between function or BETWEEN with AND

In [0]:
from pyspark.sql.functions import col

users_df.filter(col('current_city') == 'Dallas').show()
users_df.filter('amount_paid == "900.0"').show()


from pyspark.sql.functions import isnan
## note isnan == is not a nan   returns true or False values 
users_df.select('amount_paid', isnan('amount_paid')).show()

###
users_df.filter('isnan(amount_paid) = True').show()

+---+----------+------------+--------------------+------+------------+--------------------+-------+-----------+-----------+-------------+-------------------+
| id|first_name|   last_name|               email|gender|current_city|       phone_numbers|courses|is_customer|amount_paid|customer_from|    last_updated_ts|
+---+----------+------------+--------------------+------+------------+--------------------+-------+-----------+-----------+-------------+-------------------+
|  1|    Corrie|Van den Oord|cvandenoord0@etsy...|  male|      Dallas|{+1 234 567 8901,...| [1, 2]|       true|    1000.55|   2021-01-15|2021-02-10 01:15:00|
+---+----------+------------+--------------------+------+------------+--------------------+-------+-----------+-----------+-------------+-------------------+

+---+----------+---------+--------------------+------+------------+--------------------+-------+-----------+-----------+-------------+-------------------+
| id|first_name|last_name|               email|gender|current_city|       phone_numbers|courses|is_customer|amount_paid|customer_from|    last_updated_ts|
+---+----------+---------+--------------------+------+------------+--------------------+-------+-----------+-----------+-------------+-------------------+
|  2|  Nikolaus|  Brewitt|nbrewitt1@dailyma...|  male|     Houston|{+1 234 567 8923,...|    [3]|       true|      900.0|   2021-02-14|2021-02-18 03:33:00|
+---+----------+---------+--------------------+------+------------+--------------------+-------+-----------+-----------+-------------+-------------------+

+-----------+------------------+
|amount_paid|isnan(amount_paid)|
+-----------+------------------+
|    1000.55|             false|
|      900.0|             false|
|     850.55|             false|
|        NaN|              true|
|        NaN|              true|
+-----------+------------------+

+---+----------+---------+--------------------+------+-------------+--------------------+-------+-----------+-----------+-------------+-------------------+
| id|first_name|last_name|               email|gender| current_city|       phone_numbers|courses|is_customer|amount_paid|customer_from|    last_updated_ts|
+---+----------+---------+--------------------+------+-------------+--------------------+-------+-----------+-----------+-------------+-------------------+
|  4|     Ashby| Maddocks|  amaddocks3@home.pl|  male|San Fransisco|        {null, null}|     []|      false|        NaN|         null|2021-04-10 17:45:30|
|  5|      Kurt|     Rome|krome4@shutterfly...|female|         null|{+1 817 934 7142,...|     []|      false|        NaN|         null|2021-04-02 00:55:18|
+---+----------+---------+--------------------+------+-------------+--------------------+-------+-----------+-----------+-------------+-------------------+

In [0]:
## filter with != , filter with OR
users_df.select('id', 'current_city').filter(col('current_city') != 'Dallas').show()

## filter with and ie |
users_df.select('id', 'current_city').filter((col('current_city') != 'Dallas') | (col('current_city').isNull())).show()

## filter with OR 
users_df.select('id', 'current_city').filter("current_city != 'Dallas' OR current_city IS NULL").show()

## 
users_df.select('id', 'current_city').filter(col('current_city') != '').show()

+---+-------------+
| id| current_city|
+---+-------------+
|  2|      Houston|
|  3|             |
|  4|San Fransisco|
+---+-------------+

+---+-------------+
| id| current_city|
+---+-------------+
|  2|      Houston|
|  3|             |
|  4|San Fransisco|
|  5|         null|
+---+-------------+

+---+-------------+
| id| current_city|
+---+-------------+
|  2|      Houston|
|  3|             |
|  4|San Fransisco|
|  5|         null|
+---+-------------+

+---+-------------+
| id| current_city|
+---+-------------+
|  1|       Dallas|
|  2|      Houston|
|  4|San Fransisco|
+---+-------------+

In [0]:
### between operator 
### between(lowerBound, upperBound)

users_df.select('id', 'email', 'last_updated_ts').filter(col('last_updated_ts').between('2021-02-15 00:00:00', '2021-03-15 23:59:59')).show()

#########
users_df.select('id', 'amount_paid').filter('amount_paid BETWEEN "850" AND "900"').show()

+---+--------------------+-------------------+
| id|               email|    last_updated_ts|
+---+--------------------+-------------------+
|  2|nbrewitt1@dailyma...|2021-02-18 03:33:00|
|  3|openney2@vistapri...|2021-03-15 15:16:55|
+---+--------------------+-------------------+

+---+-----------+
| id|amount_paid|
+---+-----------+
|  2|      900.0|
|  3|     850.55|
+---+-----------+

In [0]:
## is null operations
users_df.select('id', 'current_city').filter(col('current_city').isNull()).show()
## same with string 
users_df.select('id', 'customer_from').filter('customer_from IS NULL').show()
## is not null function
users_df.select('id', 'current_city').filter(col('current_city').isNotNull()).show()

+---+------------+
| id|current_city|
+---+------------+
|  5|        null|
+---+------------+

+---+-------------+
| id|customer_from|
+---+-------------+
|  4|         null|
|  5|         null|
+---+-------------+

+---+-------------+
| id| current_city|
+---+-------------+
|  1|       Dallas|
|  2|      Houston|
|  3|             |
|  4|San Fransisco|
+---+-------------+

In [0]:
# Boolean Operations

#     Boolean OR
#     Boolean AND
#     Negation
print(True or True)
print(True or False)
print(True and True)
print(False or False)
print(not True)
print(not False)

True
True
True
False
False
True

In [0]:
#10 Boolean OR on same column of Spark Data Frame and IN Operator

users_df.select('id', 'current_city').filter((col('current_city') == '') | (col('current_city').isNull())).show()
## note: ie showing null values and ''

+---+------------+
| id|current_city|
+---+------------+
|  3|            |
|  5|        null|
+---+------------+

In [0]:

# Not recommended, use in instead
users_df.select('id', 'current_city').filter((col('current_city') == 'Houston') | (col('current_city') == 'Dallas')).show()
## note: above method is not recomadded as filtering is going to happen in single column 
# Not recommended, use in instead
users_df.select('id', 'current_city').filter("current_city = 'Houston' OR current_city = 'Dallas'").show()
#### note: above method is not recomadded as filtering is going to happen in single column 
users_df.select('id','current_city').filter(col("current_city").isin('Houston','Dallas')).show()

## isin () is used within filter 
users_df.select('id', 'current_city').filter("current_city IN ('Houston', 'Dallas', '','NULL')").show()
# IMp Note :Passing null will not be effective
users_df.select('id', 'current_city').filter("current_city IN ('Houston', 'Dallas', '') OR current_city IS NULL").show()


# Boolean OR including null check
users_df.select('id', 'current_city').filter((col('current_city').isin('Houston', 'Dallas', '')) | (col('current_city').isNull())).show()
## use "is NULL " in string expresion filter or use .isNull() in filter conditions

+---+------------+
| id|current_city|
+---+------------+
|  1|      Dallas|
|  2|     Houston|
+---+------------+

+---+------------+
| id|current_city|
+---+------------+
|  1|      Dallas|
|  2|     Houston|
+---+------------+

+---+------------+
| id|current_city|
+---+------------+
|  1|      Dallas|
|  2|     Houston|
+---+------------+

+---+------------+
| id|current_city|
+---+------------+
|  1|      Dallas|
|  2|     Houston|
|  3|            |
+---+------------+

+---+------------+
| id|current_city|
+---+------------+
|  1|      Dallas|
|  2|     Houston|
|  3|            |
|  5|        null|
+---+------------+

+---+------------+
| id|current_city|
+---+------------+
|  1|      Dallas|
|  2|     Houston|
|  3|            |
|  5|        null|
+---+------------+

In [0]:

#     >
#     <
#     >= (equivalent to boolean with col1 > val1 or cal1 = val1)
#     <= (equivalent to boolean with col1 < val1 or cal1 = val1)
## filtering with greter than , equal to , <= ,>=
users_df.select('id', 'customer_from').filter('customer_from > "2021-01-21"').show()

users_df.select('id', 'customer_from').filter(col('customer_from') > '2021-01-21').show()

## question : find id and amount_paid which are less than 900 and not null 
users_df.filter('amount_paid <= 900 AND isnan(amount_paid) = false').select('id', 'amount_paid').show()

## find id of cutomer who are customer joined after 2021-02-14
users_df.select('id', 'customer_from').filter('customer_from > "2021-01-21"').show()

+---+-------------+
| id|customer_from|
+---+-------------+
|  2|   2021-02-14|
+---+-------------+

+---+-------------+
| id|customer_from|
+---+-------------+
|  2|   2021-02-14|
+---+-------------+

+---+-----------+
| id|amount_paid|
+---+-----------+
|  2|      900.0|
|  3|     850.55|
+---+-----------+

+---+-------------+
| id|customer_from|
+---+-------------+
|  2|   2021-02-14|
+---+-------------+

In [0]:
## boolean and and conditioning 
users_df.filter((col('gender') == 'male') & (col('is_customer') == True)).select('id', 'gender', 'is_customer').show()
users_df.filter("customer_from >= '2021-01-20' AND customer_from  <= '2021-02-15'").select('id', 'customer_from').show()
users_df.filter((col('customer_from') >= '2021-01-20') & (col('customer_from') <= '2021-02-15')).select('id', 'customer_from').show()

+---+------+-----------+
| id|gender|is_customer|
+---+------+-----------+
|  1|  male|       true|
|  2|  male|       true|
+---+------+-----------+

+---+-------------+
| id|customer_from|
+---+-------------+
|  2|   2021-02-14|
|  3|   2021-01-21|
+---+-------------+

+---+-------------+
| id|customer_from|
+---+-------------+
|  2|   2021-02-14|
|  3|   2021-01-21|
+---+-------------+

# dropping the columns

In [0]:
from pyspark.sql import Row
import datetime
users = [
    {
        "id": 1,
        "first_name": "Corrie",
        "last_name": "Van den Oord",
        "email": "cvandenoord0@etsy.com",
        "phone_numbers": Row(mobile="+1 234 567 8901", home="+1 234 567 8911"),
        "courses": [1, 2],
        "is_customer": True,
        "amount_paid": 1000.55,
        "customer_from": datetime.date(2021, 1, 15),
        "last_updated_ts": datetime.datetime(2021, 2, 10, 1, 15, 0)
    },
    {
        "id": 2,
        "first_name": "Nikolaus",
        "last_name": "Brewitt",
        "email": "nbrewitt1@dailymail.co.uk",
        "phone_numbers":  Row(mobile="+1 234 567 8923", home="1 234 567 8934"),
        "courses": [3],
        "is_customer": True,
        "amount_paid": 900.0,
        "customer_from": datetime.date(2021, 2, 14),
        "last_updated_ts": datetime.datetime(2021, 2, 18, 3, 33, 0)
    },
    {
        "id": 3,
        "first_name": "Orelie",
        "last_name": "Penney",
        "email": "openney2@vistaprint.com",
        "phone_numbers": Row(mobile="+1 714 512 9752", home="+1 714 512 6601"),
        "courses": [2, 4],
        "is_customer": True,
        "amount_paid": 850.55,
        "customer_from": datetime.date(2021, 1, 21),
        "last_updated_ts": datetime.datetime(2021, 3, 15, 15, 16, 55)
    },
    {
        "id": 4,
        "first_name": "Ashby",
        "last_name": "Maddocks",
        "email": "amaddocks3@home.pl",
        "phone_numbers": Row(mobile=None, home=None),
        "courses": [],
        "is_customer": False,
        "amount_paid": None,
        "customer_from": None,
        "last_updated_ts": datetime.datetime(2021, 4, 10, 17, 45, 30)
    },
    {
        "id": 5,
        "first_name": "Kurt",
        "last_name": "Rome",
        "email": "krome4@shutterfly.com",
        "phone_numbers": Row(mobile="+1 817 934 7142", home=None),
        "courses": [],
        "is_customer": False,
        "amount_paid": None,
        "customer_from": None,
        "last_updated_ts": datetime.datetime(2021, 4, 2, 0, 55, 18)
    }
]
import pandas as pd
spark.conf.set('spark.sql.execution.arrow.pyspark.enabled', False)
# note:  using PyArrow if you are using pandas in your spark application, it will speed the data conversion between spark and pandas ie if true 
users_df = spark.createDataFrame(pd.DataFrame(users))

In [0]:
users_df.show(3,False)
users_df.printSchema()

+---+----------+------------+-------------------------+----------------------------------+-------+-----------+-----------+-------------+-------------------+
|id |first_name|last_name   |email                    |phone_numbers                     |courses|is_customer|amount_paid|customer_from|last_updated_ts    |
+---+----------+------------+-------------------------+----------------------------------+-------+-----------+-----------+-------------+-------------------+
|1  |Corrie    |Van den Oord|cvandenoord0@etsy.com    |{+1 234 567 8901, +1 234 567 8911}|[1, 2] |true       |1000.55    |2021-01-15   |2021-02-10 01:15:00|
|2  |Nikolaus  |Brewitt     |nbrewitt1@dailymail.co.uk|{+1 234 567 8923, 1 234 567 8934} |[3]    |true       |900.0      |2021-02-14   |2021-02-18 03:33:00|
|3  |Orelie    |Penney      |openney2@vistaprint.com  |{+1 714 512 9752, +1 714 512 6601}|[2, 4] |true       |850.55     |2021-01-21   |2021-03-15 15:16:55|
+---+----------+------------+-------------------------+----------------------------------+-------+-----------+-----------+-------------+-------------------+
only showing top 3 rows

root
 |-- id: long (nullable = true)
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- email: string (nullable = true)
 |-- phone_numbers: struct (nullable = true)
 |    |-- mobile: string (nullable = true)
 |    |-- home: string (nullable = true)
 |-- courses: array (nullable = true)
 |    |-- element: long (containsNull = true)
 |-- is_customer: boolean (nullable = true)
 |-- amount_paid: double (nullable = true)
 |-- customer_from: date (nullable = true)
 |-- last_updated_ts: timestamp (nullable = true)

In [0]:
## dropping single column 
users_df.drop('last_updated_ts').printSchema()
users_df.drop(users_df['last_updated_ts']).printSchema()
users_df.drop(col('last_updated_ts')).printSchema()
## above all three do the same things 
# If we have column name which does not exist, the column will be ignored
users_df.drop(col('user_id')).printSchema()

##note: if we try to drop the column which is not present in dataframe it will not throw error just do nothing

root
 |-- id: long (nullable = true)
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- email: string (nullable = true)
 |-- phone_numbers: struct (nullable = true)
 |    |-- mobile: string (nullable = true)
 |    |-- home: string (nullable = true)
 |-- courses: array (nullable = true)
 |    |-- element: long (containsNull = true)
 |-- is_customer: boolean (nullable = true)
 |-- amount_paid: double (nullable = true)
 |-- customer_from: date (nullable = true)

root
 |-- id: long (nullable = true)
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- email: string (nullable = true)
 |-- phone_numbers: struct (nullable = true)
 |    |-- mobile: string (nullable = true)
 |    |-- home: string (nullable = true)
 |-- courses: array (nullable = true)
 |    |-- element: long (containsNull = true)
 |-- is_customer: boolean (nullable = true)
 |-- amount_paid: double (nullable = true)
 |-- customer_from: date (nullable = true)

root
 |-- id: long (nullable = true)
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- email: string (nullable = true)
 |-- phone_numbers: struct (nullable = true)
 |    |-- mobile: string (nullable = true)
 |    |-- home: string (nullable = true)
 |-- courses: array (nullable = true)
 |    |-- element: long (containsNull = true)
 |-- is_customer: boolean (nullable = true)
 |-- amount_paid: double (nullable = true)
 |-- customer_from: date (nullable = true)

root
 |-- id: long (nullable = true)
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- email: string (nullable = true)
 |-- phone_numbers: struct (nullable = true)
 |    |-- mobile: string (nullable = true)
 |    |-- home: string (nullable = true)
 |-- courses: array (nullable = true)
 |    |-- element: long (containsNull = true)
 |-- is_customer: boolean (nullable = true)
 |-- amount_paid: double (nullable = true)
 |-- customer_from: date (nullable = true)
 |-- last_updated_ts: timestamp (nullable = true)

In [0]:
## droping multiple columns 

users_df.drop(col('first_name'), col('id')).printSchema()
##Imp Note: above will fail when we are dropping multiple columns  we need to pass them as strings  
## ie TypeError: each col in the param list should be a string error 
## # This will fail as we are passing multiple column objects
# When we want to pass more than one column, we have to pass all column names as strings

---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
<command-402239863734907> in <module>
      1 ## droping multiple columns
      2
----> 3 users_df.drop(col('first_name'), col('id')).printSchema()
      4 ##Imp Note: above will fail when we are dropping multiple columns  we need to pass them as strings
      5 ## # This will fail as we are passing multiple column objects

/databricks/spark/python/pyspark/sql/dataframe.py in drop(self, *cols)
   2738             for col in cols:
   2739                 if not isinstance(col, str):
-> 2740                     raise TypeError("each col in the param list should be a string")
   2741             jdf = self._jdf.drop(self._jseq(cols))
   2742

TypeError: each col in the param list should be a string

In [0]:
users_df.drop('user_id', 'first_name', 'last_name').printSchema()
users_df.drop('user_id', 'first_name', 'last_name').show()

root
 |-- id: long (nullable = true)
 |-- email: string (nullable = true)
 |-- phone_numbers: struct (nullable = true)
 |    |-- mobile: string (nullable = true)
 |    |-- home: string (nullable = true)
 |-- courses: array (nullable = true)
 |    |-- element: long (containsNull = true)
 |-- is_customer: boolean (nullable = true)
 |-- amount_paid: double (nullable = true)
 |-- customer_from: date (nullable = true)
 |-- last_updated_ts: timestamp (nullable = true)

+---+--------------------+--------------------+-------+-----------+-----------+-------------+-------------------+
| id|               email|       phone_numbers|courses|is_customer|amount_paid|customer_from|    last_updated_ts|
+---+--------------------+--------------------+-------+-----------+-----------+-------------+-------------------+
|  1|cvandenoord0@etsy...|{+1 234 567 8901,...| [1, 2]|       true|    1000.55|   2021-01-15|2021-02-10 01:15:00|
|  2|nbrewitt1@dailyma...|{+1 234 567 8923,...|    [3]|       true|      900.0|   2021-02-14|2021-02-18 03:33:00|
|  3|openney2@vistapri...|{+1 714 512 9752,...| [2, 4]|       true|     850.55|   2021-01-21|2021-03-15 15:16:55|
|  4|  amaddocks3@home.pl|        {null, null}|     []|      false|        NaN|         null|2021-04-10 17:45:30|
|  5|krome4@shutterfly...|{+1 817 934 7142,...|     []|      false|        NaN|         null|2021-04-02 00:55:18|
+---+--------------------+--------------------+-------+-----------+-----------+-------------+-------------------+

In [0]:
## droping list of columns in pyspark 
users_df.show(3)
pii_columns = ['first_name', 'last_name', 'email', 'phone_numbers']

# This will fail
# We need to convert list to varrying arguments to get it working
users_df_nopii = users_df.drop(pii_columns)

## note : passing list to drop column will fail the thing we need to pass varing argument to that .
## *args

+---+----------+------------+--------------------+--------------------+-------+-----------+-----------+-------------+-------------------+
| id|first_name|   last_name|               email|       phone_numbers|courses|is_customer|amount_paid|customer_from|    last_updated_ts|
+---+----------+------------+--------------------+--------------------+-------+-----------+-----------+-------------+-------------------+
|  1|    Corrie|Van den Oord|cvandenoord0@etsy...|{+1 234 567 8901,...| [1, 2]|       true|    1000.55|   2021-01-15|2021-02-10 01:15:00|
|  2|  Nikolaus|     Brewitt|nbrewitt1@dailyma...|{+1 234 567 8923,...|    [3]|       true|      900.0|   2021-02-14|2021-02-18 03:33:00|
|  3|    Orelie|      Penney|openney2@vistapri...|{+1 714 512 9752,...| [2, 4]|       true|     850.55|   2021-01-21|2021-03-15 15:16:55|
+---+----------+------------+--------------------+--------------------+-------+-----------+-----------+-------------+-------------------+
only showing top 3 rows

---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
<command-402239863734909> in <module>
      5 # This will fail
      6 # We need to convert list to varrying arguments to get it working
----> 7 users_df_nopii = users_df.drop(pii_columns)

/databricks/spark/python/pyspark/sql/dataframe.py in drop(self, *cols)
   2734                 jdf = self._jdf.drop(col._jc)
   2735             else:
-> 2736                 raise TypeError("col should be a string or a Column")
   2737         else:
   2738             for col in cols:

TypeError: col should be a string or a Column

In [0]:
users_df_nopii = users_df.drop(*pii_columns).show()

+---+-------+-----------+-----------+-------------+-------------------+
| id|courses|is_customer|amount_paid|customer_from|    last_updated_ts|
+---+-------+-----------+-----------+-------------+-------------------+
|  1| [1, 2]|       true|    1000.55|   2021-01-15|2021-02-10 01:15:00|
|  2|    [3]|       true|      900.0|   2021-02-14|2021-02-18 03:33:00|
|  3| [2, 4]|       true|     850.55|   2021-01-21|2021-03-15 15:16:55|
|  4|     []|      false|        NaN|         null|2021-04-10 17:45:30|
|  5|     []|      false|        NaN|         null|2021-04-02 00:55:18|
+---+-------+-----------+-----------+-------------+-------------------+

In [0]:
##Here are the features that are available with respect to dropping duplicate records.

#     Drop duplicates based on all columns. It is also known as distinct.
#     Drop duplicates based on certain columns.
#     We can use distinct, drop_duplicates or dropDuplicates for these scenarios.

## drop_duplicates == based on all columns 
## drop duplicates based on certain columns

In [0]:
import datetime
users = [
    {
        "id": 1,
        "first_name": "Corrie",
        "last_name": "Van den Oord",
        "email": "cvandenoord0@etsy.com",
        "is_customer": True,
        "amount_paid": 1000.55,
        "customer_from": datetime.date(2021, 1, 15),
        "last_updated_ts": datetime.datetime(2021, 2, 10, 1, 15, 0)
    },
    {
        "id": 2,
        "first_name": "Nikolaus",
        "last_name": "Brewitt",
        "email": "nbrewitt1@dailymail.co.uk",
        "is_customer": True,
        "amount_paid": 900.0,
        "customer_from": datetime.date(2021, 2, 14),
        "last_updated_ts": datetime.datetime(2021, 2, 18, 3, 33, 0)
    },
    {
        "id": 3,
        "first_name": "Orelie",
        "last_name": "Penney",
        "email": "openney2@vistaprint.com",
        "is_customer": True,
        "amount_paid": 850.55,
        "customer_from": datetime.date(2021, 1, 21),
        "last_updated_ts": datetime.datetime(2021, 3, 15, 15, 16, 55)
    },
    {
        "id": 3,
        "first_name": "Orelie",
        "last_name": "Penney",
        "email": "openney2@vistaprint.com",
        "is_customer": True,
        "amount_paid": 850.55,
        "customer_from": datetime.date(2021, 1, 21),
        "last_updated_ts": datetime.datetime(2021, 3, 15, 15, 16, 55)
    },
    {
        "id": 4,
        "first_name": "Ashby",
        "last_name": "Maddocks",
        "email": "amaddocks3@home.pl",
        "is_customer": False,
        "amount_paid": None,
        "customer_from": None,
        "last_updated_ts": datetime.datetime(2021, 4, 10, 17, 45, 30)
    },
    {
        "id": 4,
        "first_name": "Ashby",
        "last_name": "Maddocks",
        "email": "amaddocks3@home.pl",
        "is_customer": False,
        "amount_paid": None,
        "customer_from": None,
        "last_updated_ts": datetime.datetime(2021, 4, 10, 17, 45, 30)
    },
    {
        "id": 5,
        "first_name": "Kurt",
        "last_name": "Rome",
        "email": "krome4@shutterfly.com",
        "is_customer": False,
        "amount_paid": None,
        "customer_from": None,
        "last_updated_ts": datetime.datetime(2021, 4, 2, 0, 55, 18)
    },
    {
        "id": 2,
        "first_name": "Nikolaus",
        "last_name": "Brewitt",
        "email": "nbrewitt1@dailymail.co.uk",
        "is_customer": True,
        "amount_paid": 1050.0,
        "customer_from": datetime.date(2021, 2, 14),
        "last_updated_ts": datetime.datetime(2021, 2, 25, 3, 33, 0)
    }
]


import pandas as pd
users_df = spark.createDataFrame(pd.DataFrame(users))

In [0]:
users_df.show(4,False)

+---+----------+------------+-------------------------+-----------+-----------+-------------+-------------------+
|id |first_name|last_name   |email                    |is_customer|amount_paid|customer_from|last_updated_ts    |
+---+----------+------------+-------------------------+-----------+-----------+-------------+-------------------+
|1  |Corrie    |Van den Oord|cvandenoord0@etsy.com    |true       |1000.55    |2021-01-15   |2021-02-10 01:15:00|
|2  |Nikolaus  |Brewitt     |nbrewitt1@dailymail.co.uk|true       |900.0      |2021-02-14   |2021-02-18 03:33:00|
|3  |Orelie    |Penney      |openney2@vistaprint.com  |true       |850.55     |2021-01-21   |2021-03-15 15:16:55|
|3  |Orelie    |Penney      |openney2@vistaprint.com  |true       |850.55     |2021-01-21   |2021-03-15 15:16:55|
+---+----------+------------+-------------------------+-----------+-----------+-------------+-------------------+
only showing top 4 rows

In [0]:
print(users_df.count())
## count will give the no of rows present 
print(users_df.distinct().count())

## note: distinmct will give 
users_df.dropDuplicates().count()
## dropDuplicates will drop duplicate rows ie taking account all columns combinations check results eg id,amount_column 
users_df.dropDuplicates().show()

8
6
+---+----------+------------+--------------------+-----------+-----------+-------------+-------------------+
| id|first_name|   last_name|               email|is_customer|amount_paid|customer_from|    last_updated_ts|
+---+----------+------------+--------------------+-----------+-----------+-------------+-------------------+
|  1|    Corrie|Van den Oord|cvandenoord0@etsy...|       true|    1000.55|   2021-01-15|2021-02-10 01:15:00|
|  2|  Nikolaus|     Brewitt|nbrewitt1@dailyma...|       true|      900.0|   2021-02-14|2021-02-18 03:33:00|
|  3|    Orelie|      Penney|openney2@vistapri...|       true|     850.55|   2021-01-21|2021-03-15 15:16:55|
|  4|     Ashby|    Maddocks|  amaddocks3@home.pl|      false|        NaN|         null|2021-04-10 17:45:30|
|  5|      Kurt|        Rome|krome4@shutterfly...|      false|        NaN|         null|2021-04-02 00:55:18|
|  2|  Nikolaus|     Brewitt|nbrewitt1@dailyma...|       true|     1050.0|   2021-02-14|2021-02-25 03:33:00|
+---+----------+------------+--------------------+-----------+-----------+-------------+-------------------+

In [0]:
users_df.dropDuplicates(['id', 'amount_paid']).show()

+---+----------+------------+--------------------+-----------+-----------+-------------+-------------------+
| id|first_name|   last_name|               email|is_customer|amount_paid|customer_from|    last_updated_ts|
+---+----------+------------+--------------------+-----------+-----------+-------------+-------------------+
|  1|    Corrie|Van den Oord|cvandenoord0@etsy...|       true|    1000.55|   2021-01-15|2021-02-10 01:15:00|
|  2|  Nikolaus|     Brewitt|nbrewitt1@dailyma...|       true|      900.0|   2021-02-14|2021-02-18 03:33:00|
|  2|  Nikolaus|     Brewitt|nbrewitt1@dailyma...|       true|     1050.0|   2021-02-14|2021-02-25 03:33:00|
|  3|    Orelie|      Penney|openney2@vistapri...|       true|     850.55|   2021-01-21|2021-03-15 15:16:55|
|  4|     Ashby|    Maddocks|  amaddocks3@home.pl|      false|        NaN|         null|2021-04-10 17:45:30|
|  5|      Kurt|        Rome|krome4@shutterfly...|      false|        NaN|         null|2021-04-02 00:55:18|
+---+----------+------------+--------------------+-----------+-----------+-------------+-------------------+

In [0]:
# Here are the features that are available with respect to dropping records based on null values.
# * Drop records when all column values are nulls.
# * Drop records any of the column value is null.
# * Drop records that have less than `thresh` non-null values.
# * Drop records when any of the column value or all column values are nulls for provided subset of columns.
# * We can use `df.na.drop` or `df.dropna` to take care of dealing with records having columns with null values.

In [0]:
import datetime
users = [
    {
        "id": 1,
        "first_name": "Corrie",
        "last_name": "Van den Oord",
        "email": "cvandenoord0@etsy.com",
        "is_customer": True,
        "amount_paid": 1000.55,
        "customer_from": datetime.date(2021, 1, 15),
        "last_updated_ts": datetime.datetime(2021, 2, 10, 1, 15, 0)
    },
    {
        "id": None,
        "first_name": None,
        "last_name": None,
        "email": None,
        "is_customer": None,
        "amount_paid": None,
        "customer_from": None,
        "last_updated_ts": None
    },
    {
        "id": 2,
        "first_name": "Nikolaus",
        "last_name": "Brewitt",
        "email": "nbrewitt1@dailymail.co.uk",
        "is_customer": True,
        "amount_paid": 900.0,
        "customer_from": datetime.date(2021, 2, 14),
        "last_updated_ts": datetime.datetime(2021, 2, 18, 3, 33, 0)
    },
    {
        "id": 3,
        "first_name": "Orelie",
        "last_name": "Penney",
        "email": "openney2@vistaprint.com",
        "is_customer": True,
        "amount_paid": 850.55,
        "customer_from": datetime.date(2021, 1, 21),
        "last_updated_ts": datetime.datetime(2021, 3, 15, 15, 16, 55)
    },
    {
        "id": 3,
        "first_name": "Orelie",
        "last_name": "Penney",
        "email": "openney2@vistaprint.com",
        "is_customer": True,
        "amount_paid": 850.55,
        "customer_from": datetime.date(2021, 1, 21),
        "last_updated_ts": datetime.datetime(2021, 3, 15, 15, 16, 55)
    },
    {
        "id": 4,
        "first_name": "Ashby",
        "last_name": "Maddocks",
        "email": "amaddocks3@home.pl",
        "is_customer": False,
        "amount_paid": None,
        "customer_from": None,
        "last_updated_ts": datetime.datetime(2021, 4, 10, 17, 45, 30)
    },
    {
        "id": 4,
        "first_name": "Ashby",
        "last_name": "Maddocks",
        "email": "amaddocks3@home.pl",
        "is_customer": False,
        "amount_paid": None,
        "customer_from": None,
        "last_updated_ts": datetime.datetime(2021, 4, 10, 17, 45, 30)
    },
    {
        "id": 5,
        "first_name": "Kurt",
        "last_name": "Rome",
        "email": "krome4@shutterfly.com",
        "is_customer": False,
        "amount_paid": None,
        "customer_from": None,
        "last_updated_ts": datetime.datetime(2021, 4, 2, 0, 55, 18)
    },
    {
        "id": None,
        "first_name": None,
        "last_name": None,
        "email": None,
        "is_customer": None,
        "amount_paid": None,
        "customer_from": None,
        "last_updated_ts": None
    },
    {
        "id": 5,
        "first_name": None,
        "last_name": None,
        "email": None,
        "is_customer": None,
        "amount_paid": None,
        "customer_from": None,
        "last_updated_ts": None
    },
    {
        "id": None,
        "first_name": None,
        "last_name": None,
        "email": "nbrewitt1@dailymail.co.uk",
        "is_customer": None,
        "amount_paid": None,
        "customer_from": None,
        "last_updated_ts": None
    },
    {
        "id": None,
        "first_name": "Kurt",
        "last_name": "Rome",
        "email": None,
        "is_customer": False,
        "amount_paid": None,
        "customer_from": None,
        "last_updated_ts": datetime.datetime(2021, 4, 2, 0, 55, 18)
    },
    {
        "id": 2,
        "first_name": "Nikolaus",
        "last_name": "Brewitt",
        "email": "nbrewitt1@dailymail.co.uk",
        "is_customer": True,
        "amount_paid": 1050.0,
        "customer_from": datetime.date(2021, 2, 14),
        "last_updated_ts": datetime.datetime(2021, 2, 25, 3, 33, 0)
    }
]


import pandas as pd
users_df = spark.createDataFrame(pd.DataFrame(users))

In [0]:
users_df.count()
users_df.show()

+---+----------+------------+--------------------+-----------+-----------+-------------+-------------------+
| id|first_name|   last_name|               email|is_customer|amount_paid|customer_from|    last_updated_ts|
+---+----------+------------+--------------------+-----------+-----------+-------------+-------------------+
|1.0|    Corrie|Van den Oord|cvandenoord0@etsy...|       true|    1000.55|   2021-01-15|2021-02-10 01:15:00|
|NaN|      null|        null|                null|       null|        NaN|         null|               null|
|2.0|  Nikolaus|     Brewitt|nbrewitt1@dailyma...|       true|      900.0|   2021-02-14|2021-02-18 03:33:00|
|3.0|    Orelie|      Penney|openney2@vistapri...|       true|     850.55|   2021-01-21|2021-03-15 15:16:55|
|3.0|    Orelie|      Penney|openney2@vistapri...|       true|     850.55|   2021-01-21|2021-03-15 15:16:55|
|4.0|     Ashby|    Maddocks|  amaddocks3@home.pl|      false|        NaN|         null|2021-04-10 17:45:30|
|4.0|     Ashby|    Maddocks|  amaddocks3@home.pl|      false|        NaN|         null|2021-04-10 17:45:30|
|5.0|      Kurt|        Rome|krome4@shutterfly...|      false|        NaN|         null|2021-04-02 00:55:18|
|NaN|      null|        null|                null|       null|        NaN|         null|               null|
|5.0|      null|        null|                null|       null|        NaN|         null|               null|
|NaN|      null|        null|nbrewitt1@dailyma...|       null|        NaN|         null|               null|
|NaN|      Kurt|        Rome|                null|      false|        NaN|         null|2021-04-02 00:55:18|
|2.0|  Nikolaus|     Brewitt|nbrewitt1@dailyma...|       true|     1050.0|   2021-02-14|2021-02-25 03:33:00|
+---+----------+------------+--------------------+-----------+-----------+-------------+-------------------+

In [0]:
# Attribute which exposes functions dealing with null records
# drop => users_df.dropna
# fill => users_df.fillna
# replace => users_df.replacena

## note: basically df.na.drop()
## ie df.na === is attribute 
# note: drop(how='any', thresh=None, subset=None)

users_df.na.drop('all').show()
# Drop if any column value is null
users_df.na.drop('any').show()
users_df.na.drop(thresh=2).show()

help(users_df.drop())

## dropDuplicates(self, subset=None)
users_df.na.drop(how='any', subset=['id', 'email']).show()

## 
#  subset : str, tuple or list, optional optional list of column names to consider.
# thresh: int, optiona default None  ie dropna only after thrushhold is briched 
#  If specified, drop rows that have less than `thresh` non-null values.This overwrites the `how` parameter.
users_df.na.drop(how='any', subset=['id', 'email']).show()

+---+----------+------------+--------------------+-----------+-----------+-------------+-------------------+
| id|first_name|   last_name|               email|is_customer|amount_paid|customer_from|    last_updated_ts|
+---+----------+------------+--------------------+-----------+-----------+-------------+-------------------+
|1.0|    Corrie|Van den Oord|cvandenoord0@etsy...|       true|    1000.55|   2021-01-15|2021-02-10 01:15:00|
|2.0|  Nikolaus|     Brewitt|nbrewitt1@dailyma...|       true|      900.0|   2021-02-14|2021-02-18 03:33:00|
|3.0|    Orelie|      Penney|openney2@vistapri...|       true|     850.55|   2021-01-21|2021-03-15 15:16:55|
|3.0|    Orelie|      Penney|openney2@vistapri...|       true|     850.55|   2021-01-21|2021-03-15 15:16:55|
|4.0|     Ashby|    Maddocks|  amaddocks3@home.pl|      false|        NaN|         null|2021-04-10 17:45:30|
|4.0|     Ashby|    Maddocks|  amaddocks3@home.pl|      false|        NaN|         null|2021-04-10 17:45:30|
|5.0|      Kurt|        Rome|krome4@shutterfly...|      false|        NaN|         null|2021-04-02 00:55:18|
|5.0|      null|        null|                null|       null|        NaN|         null|               null|
|NaN|      null|        null|nbrewitt1@dailyma...|       null|        NaN|         null|               null|
|NaN|      Kurt|        Rome|                null|      false|        NaN|         null|2021-04-02 00:55:18|
|2.0|  Nikolaus|     Brewitt|nbrewitt1@dailyma...|       true|     1050.0|   2021-02-14|2021-02-25 03:33:00|
+---+----------+------------+--------------------+-----------+-----------+-------------+-------------------+

+---+----------+------------+--------------------+-----------+-----------+-------------+-------------------+
| id|first_name|   last_name|               email|is_customer|amount_paid|customer_from|    last_updated_ts|
+---+----------+------------+--------------------+-----------+-----------+-------------+-------------------+
|1.0|    Corrie|Van den Oord|cvandenoord0@etsy...|       true|    1000.55|   2021-01-15|2021-02-10 01:15:00|
|2.0|  Nikolaus|     Brewitt|nbrewitt1@dailyma...|       true|      900.0|   2021-02-14|2021-02-18 03:33:00|
|3.0|    Orelie|      Penney|openney2@vistapri...|       true|     850.55|   2021-01-21|2021-03-15 15:16:55|
|3.0|    Orelie|      Penney|openney2@vistapri...|       true|     850.55|   2021-01-21|2021-03-15 15:16:55|
|2.0|  Nikolaus|     Brewitt|nbrewitt1@dailyma...|       true|     1050.0|   2021-02-14|2021-02-25 03:33:00|
+---+----------+------------+--------------------+-----------+-----------+-------------+-------------------+

+---+----------+------------+--------------------+-----------+-----------+-------------+-------------------+
| id|first_name|   last_name|               email|is_customer|amount_paid|customer_from|    last_updated_ts|
+---+----------+------------+--------------------+-----------+-----------+-------------+-------------------+
|1.0|    Corrie|Van den Oord|cvandenoord0@etsy...|       true|    1000.55|   2021-01-15|2021-02-10 01:15:00|
|2.0|  Nikolaus|     Brewitt|nbrewitt1@dailyma...|       true|      900.0|   2021-02-14|2021-02-18 03:33:00|
|3.0|    Orelie|      Penney|openney2@vistapri...|       true|     850.55|   2021-01-21|2021-03-15 15:16:55|
|3.0|    Orelie|      Penney|openney2@vistapri...|       true|     850.55|   2021-01-21|2021-03-15 15:16:55|
|4.0|     Ashby|    Maddocks|  amaddocks3@home.pl|      false|        NaN|         null|2021-04-10 17:45:30|
|4.0|     Ashby|    Maddocks|  amaddocks3@home.pl|      false|        NaN|         null|2021-04-10 17:45:30|
|5.0|      Kurt|        Rome|krome4@shutterfly...|      false|        NaN|         null|2021-04-02 00:55:18|
|NaN|      Kurt|        Rome|                null|      false|        NaN|         null|2021-04-02 00:55:18|
|2.0|  Nikolaus|     Brewitt|nbrewitt1@dailyma...|       true|     1050.0|   2021-02-14|2021-02-25 03:33:00|
+---+----------+------------+--------------------+-----------+-----------+-------------+-------------------+

Help on DataFrame in module pyspark.sql.dataframe object:

class DataFrame(pyspark.sql.pandas.map_ops.PandasMapOpsMixin, pyspark.sql.pandas.conversion.PandasConversionMixin)
 |  DataFrame(jdf, sql_ctx)
 |
 |  A distributed collection of data grouped into named columns.
 |
 |  A :class:`DataFrame` is equivalent to a relational table in Spark SQL,
 |  and can be created using various functions in :class:`SparkSession`::
 |
 |      people = spark.read.parquet("...")
 |
 |  Once created, it can be manipulated using the various domain-specific-language
 |  (DSL) functions defined in: :class:`DataFrame`, :class:`Column`.
 |
 |  To select a column from the :class:`DataFrame`, use the apply method::
 |
 |      ageCol = people.age
 |
 |  A more concrete example::
 |
 |      # To create DataFrame using SparkSession
 |      people = spark.read.parquet("...")
 |      department = spark.read.parquet("...")
 |
 |      people.filter(people.age > 30).join(department, people.deptId == department.id) \
 |        .groupBy(department.name, "gender").agg({"salary": "avg", "age": "max"})
 |
 |  .. versionadded:: 1.3.0
 |
 |  Method resolution order:
 |      DataFrame
 |      pyspark.sql.pandas.map_ops.PandasMapOpsMixin
 |      pyspark.sql.pandas.conversion.PandasConversionMixin
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  __getattr__(self, name)
 |      Returns the :class:`Column` denoted by ``name``.
 |
 |      .. versionadded:: 1.3.0
 |
 |      Examples
 |      --------
 |      >>> df.select(df.age).collect()
 |      [Row(age=2), Row(age=5)]
 |
 |  __getitem__(self, item)
 |      Returns the column as a :class:`Column`.
 |
 |      .. versionadded:: 1.3.0
 |
 |      Examples
 |      --------
 |      >>> df.select(df['age']).collect()
 |      [Row(age=2), Row(age=5)]
 |      >>> df[ ["name", "age"]].collect()
 |      [Row(name='Alice', age=2), Row(name='Bob', age=5)]
 |      >>> df[ df.age > 3 ].collect()
 |      [Row(age=5, name='Bob')]
 |      >>> df[df[0] > 3].collect()
 |      [Row(age=5, name='Bob')]
 |
 |  __init__(self, jdf, sql_ctx)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __repr__(self)
 |      Return repr(self).
 |
 |  agg(self, *exprs)
 |      Aggregate on the entire :class:`DataFrame` without groups
 |      (shorthand for ``df.groupBy().agg()``).
 |
 |      .. versionadded:: 1.3.0
 |
 |      Examples
 |      --------
 |      >>> df.agg({"age": "max"}).collect()
 |      [Row(max(age)=5)]
 |      >>> from pyspark.sql import functions as F
 |      >>> df.agg(F.min(df.age)).collect()
 |      [Row(min(age)=2)]
 |
 |  alias(self, alias)
 |      Returns a new :class:`DataFrame` with an alias set.
 |
 |      .. versionadded:: 1.3.0
 |
 |      Parameters
 |      ----------
 |      alias : str
 |          an alias name to be set for the :class:`DataFrame`.
 |
 |      Examples
 |      --------
 |      >>> from pyspark.sql.functions import *
 |      >>> df_as1 = df.alias("df_as1")
 |      >>> df_as2 = df.alias("df_as2")
 |      >>> joined_df = df_as1.join(df_as2, col("df_as1.name") == col("df_as2.name"), 'inner')
 |      >>> joined_df.select("df_as1.name", "df_as2.name", "df_as2.age")                 .sort(desc("df_as1.name")).collect()
 |      [Row(name='Bob', name='Bob', age=5), Row(name='Alice', name='Alice', age=2)]
 |
 |  approxQuantile(self, col, probabilities, relativeError)
 |      Calculates the approximate quantiles of numerical columns of a
 |      :class:`DataFrame`.
 |
 |      The result of this algorithm has the following deterministic bound:
 |      If the :class:`DataFrame` has N elements and if we request the quantile at
 |      probability `p` up to error `err`, then the algorithm will return
 |      a sample `x` from the :class:`DataFrame` so that the *exact* rank of `x` is
 |      close to (p * N). More precisely,
 |
 |        floor((p - err) * N) <= rank(x) <= ceil((p + err) * N).
 |
 |      This method implements a variation of the Greenwald-Khanna
 |      algorithm (with some speed optimizations). The algorithm was first
 |      present in [[https://doi.org/10.1145/375663.375670
 |      Space-efficient Online Computation of Quantile Summaries]]
 |      by Greenwald and Khanna.
 |
 |      Note that null values will be ignored in numerical columns before calculation.
 |      For columns only containing null values, an empty list is returned.
 |
 |      .. versionadded:: 2.0.0
 |
 |      Parameters
 |      ----------
 |      col: str, tuple or list
 |          Can be a single column name, or a list of names for multiple columns.
 |
 |          .. versionchanged:: 2.2
 |             Added support for multiple columns.
 |      probabilities : list or tuple
 |          a list of quantile probabilities
 |          Each number must belong to [0, 1].
 |          For example 0 is the minimum, 0.5 is the median, 1 is the maximum.
 |      relativeError : float
 |          The relative target precision to achieve
 |          (>= 0). If set to zero, the exact quantiles are computed, which
 |          could be very expensive. Note that values greater than 1 are
 |          accepted but give the same result as 1.
 |
 |      Returns
 |      -------
 |      list
 |          the approximate quantiles at the given probabilities. If
 |          the input `col` is a string, the output is a list of floats. If the
 |          input `col` is a list or tuple of strings, the output is also a
 |          list, but each element in it is a list of floats, i.e., the output
 |          is a list of list of floats.
 |
 |  cache(self)
 |      Persists the :class:`DataFrame` with the default storage level (`MEMORY_AND_DISK`).
 |
 |      .. versionadded:: 1.3.0
 |
 |      Notes
 |      -----
 |      The default storage level has changed to `MEMORY_AND_DISK` to match Scala in 2.0.
 |
 |  checkpoint(self, eager=True)
 |      Returns a checkpointed version of this :class:`DataFrame`. Checkpointing can be used to
 |      truncate the logical plan of this :class:`DataFrame`, which is especially useful in
 |      iterative algorithms where the plan may grow exponentially. It will be saved to files
 |      inside the checkpoint directory set with :meth:`SparkContext.setCheckpointDir`.
 |
 |      .. versionadded:: 2.1.0
 |
 |      Parameters
 |      ----------
 |      eager : bool, optional
 |          Whether to checkpoint this :class:`DataFrame` immediately
 |
 |      Notes
 |      -----
 |      This API is experimental.
 |
 |  coalesce(self, numPartitions)
 |      Returns a new :class:`DataFrame` that has exactly `numPartitions` partitions.
 |
 |      Similar to coalesce defined on an :class:`RDD`, this operation results in a
 |      narrow dependency, e.g. if you go from 1000 partitions to 100 partitions,
 |      there will not be a shuffle, instead each of the 100 new partitions will
 |      claim 10 of the current partitions. If a larger number of partitions is requested,
 |      it will stay at the current number of partitions.
 |
 |      However, if you're doing a drastic coalesce, e.g. to numPartitions = 1,
 |      this may result in your computation taking place on fewer nodes than
 |      you like (e.g. one node in the case of numPartitions = 1). To avoid this,
 |      you can call repartition(). This will add a shuffle step, but means the
 |      current upstream partitions will be executed in parallel (per whatever
 |      the current partitioning is).
 |
 |      .. versionadded:: 1.4.0
 |
 |      Parameters
 |      ----------
 |      numPartitions : int
 |          specify the target number of partitions
 |
 |      Examples
 |      --------
 |      >>> df.coalesce(1).rdd.getNumPartitions()
 |      1
 |
 |  colRegex(self, colName)
 |      Selects column based on the column name specified as a regex and returns it
 |      as :class:`Column`.
 |
 |      .. versionadded:: 2.3.0
 |
 |      Parameters
 |      ----------
 |      colName : str
 |          string, column name specified as a regex.
 |
 |      Examples
 |      --------
 |      >>> df = spark.createDataFrame([("a", 1), ("b", 2), ("c",  3)], ["Col1", "Col2"])
 |      >>> df.select(df.colRegex("`(Col1)?+.+`")).show()
 |      +----+
 |      |Col2|
 |      +----+
 |      |   1|
 |      |   2|
 |      |   3|
 |      +----+
 |
 |  collect(self)
 |      Returns all the records as a list of :class:`Row`.
 |
 |      .. versionadded:: 1.3.0
 |
 |      Examples
 |      --------
 |      >>> df.collect()
 |      [Row(age=2, name='Alice'), Row(age=5, name='Bob')]
 |
 |  corr(self, col1, col2, method=None)
 |      Calculates the correlation of two columns of a :class:`DataFrame` as a double value.
 |      Currently only supports the Pearson Correlation Coefficient.
 |      :func:`DataFrame.corr` and :func:`DataFrameStatFunctions.corr` are aliases of each other.
 |
 |      .. versionadded:: 1.4.0
 |
 |      Parameters
 |      ----------
 |      col1 : str
 |          The name of the first column
 |      col2 : str
 |          The name of the second column
 |      method : str, optional
 |          The correlation method. Currently only supports "pearson"
 |
 |  count(self)
 |      Returns the number of rows in this :class:`DataFrame`.
 |
 |      .. versionadded:: 1.3.0
 |
 |      Examples
 |      --------
 |      >>> df.count()
 |      2
 |
 |  cov(self, col1, col2)
 |      Calculate the sample covariance for the given columns, specified by their names, as a
 |      double value. :func:`DataFrame.cov` and :func:`DataFrameStatFunctions.cov` are aliases.
 |
 |      .. versionadded:: 1.4.0
 |
 |      Parameters
 |      ----------
 |      col1 : str
 |          The name of the first column
 |      col2 : str
 |          The name of the second column
 |
 |  createGlobalTempView(self, name)
 |      Creates a global temporary view with this :class:`DataFrame`.
 |
 |      The lifetime of this temporary view is tied to this Spark application.
 |      throws :class:`TempTableAlreadyExistsException`, if the view name already exists in the
 |      catalog.
 |
 |      .. versionadded:: 2.1.0
 |
 |      Examples
 |      --------
 |      >>> df.createGlobalTempView("people")
 |      >>> df2 = spark.sql("select * from global_temp.people")
 |      >>> sorted(df.collect()) == sorted(df2.collect())
 |      True
 |      >>> df.createGlobalTempView("people")  # doctest: +IGNORE_EXCEPTION_DETAIL
 |      Traceback (most recent call last):
 |      ...
 |      AnalysisException: u"Temporary table 'people' already exists;"
 |      >>> spark.catalog.dropGlobalTempView("people")
 |
 |  createOrReplaceGlobalTempView(self, name)
 |      Creates or replaces a global temporary view using the given name.
 |
 |      The lifetime of this temporary view is tied to this Spark application.
 |
 |      .. versionadded:: 2.2.0
 |
 |      Examples
 |      --------
 |      >>> df.createOrReplaceGlobalTempView("people")
 |      >>> df2 = df.filter(df.age > 3)
 |      >>> df2.createOrReplaceGlobalTempView("people")
 |      >>> df3 = spark.sql("select * from global_temp.people")
 |      >>> sorted(df3.collect()) == sorted(df2.collect())
 |      True
 |      >>> spark.catalog.dropGlobalTempView("people")
 |
 |  createOrReplaceTempView(self, name)
 |      Creates or replaces a local temporary view with this :class:`DataFrame`.
 |
 |      The lifetime of this temporary table is tied to the :class:`SparkSession`
 |      that was used to create this :class:`DataFrame`.
 |
 |      .. versionadded:: 2.0.0
 |
 |      Examples
 |      --------
 |      >>> df.createOrReplaceTempView("people")
 |      >>> df2 = df.filter(df.age > 3)
 |      >>> df2.createOrReplaceTempView("people")
 |      >>> df3 = spark.sql("select * from people")
 |      >>> sorted(df3.collect()) == sorted(df2.collect())
 |      True
 |      >>> spark.catalog.dropTempView("people")
 |
 |  createTempView(self, name)
 |      Creates a local temporary view with this :class:`DataFrame`.
 |
 |      The lifetime of this temporary table is tied to the :class:`SparkSession`
 |      that was used to create this :class:`DataFrame`.
 |      throws :class:`TempTableAlreadyExistsException`, if the view name already exists in the
 |      catalog.
 |
 |      .. versionadded:: 2.0.0
 |
 |      Examples
 |      --------
 |      >>> df.createTempView("people")
 |      >>> df2 = spark.sql("select * from people")
 |      >>> sorted(df.collect()) == sorted(df2.collect())
 |      True
 |      >>> df.createTempView("people")  # doctest: +IGNORE_EXCEPTION_DETAIL
 |      Traceback (most recent call last):
 |      ...
 |      AnalysisException: u"Temporary table 'people' already exists;"
 |      >>> spark.catalog.dropTempView("people")
 |
 |  crossJoin(self, other)
 |      Returns the cartesian product with another :class:`DataFrame`.
 |
 |      .. versionadded:: 2.1.0
 |
 |      Parameters
 |      ----------
 |      other : :class:`DataFrame`
 |          Right side of the cartesian product.
 |
 |      Examples
 |      --------
 |      >>> df.select("age", "name").collect()
 |      [Row(age=2, name='Alice'), Row(age=5, name='Bob')]
 |      >>> df2.select("name", "height").collect()
 |      [Row(name='Tom', height=80), Row(name='Bob', height=85)]
 |      >>> df.crossJoin(df2.select("height")).select("age", "name", "height").collect()
 |      [Row(age=2, name='Alice', height=80), Row(age=2, name='Alice', height=85),
 |       Row(age=5, name='Bob', height=80), Row(age=5, name='Bob', height=85)]
 |
 |  crosstab(self, col1, col2)
 |      Computes a pair-wise frequency table of the given columns. Also known as a contingency
 |      table. The number of distinct values for each column should be less than 1e4. At most 1e6
 |      non-zero pair frequencies will be returned.
 |      The first column of each row will be the distinct values of `col1` and the column names
 |      will be the distinct values of `col2`. The name of the first column will be `$col1_$col2`.
 |      Pairs that have no occurrences will have zero as their counts.
 |      :func:`DataFrame.crosstab` and :func:`DataFrameStatFunctions.crosstab` are aliases.
 |
 |      .. versionadded:: 1.4.0
 |
 |      Parameters
 |      ----------
 |      col1 : str
 |          The name of the first column. Distinct items will make the first item of
 |          each row.
 |      col2 : str
 |          The name of the second column. Distinct items will make the column names
 |          of the :class:`DataFrame`.
 |
 |  cube(self, *cols)
 |      Create a multi-dimensional cube for the current :class:`DataFrame` using
 |      the specified columns, so we can run aggregations on them.
 |
 |      .. versionadded:: 1.4.0
 |
 |      Examples
 |      --------
 |      >>> df.cube("name", df.age).count().orderBy("name", "age").show()
 |      +-----+----+-----+
 |      | name| age|count|
 |      +-----+----+-----+
 |      | null|null|    2|
 |      | null|   2|    1|
 |      | null|   5|    1|
 |      |Alice|null|    1|
 |      |Alice|   2|    1|
 |      |  Bob|null|    1|
 |      |  Bob|   5|    1|
 |      +-----+----+-----+
 |
 |  describe(self, *cols)
 |      Computes basic statistics for numeric and string columns.
 |
 |      .. versionadded:: 1.3.1
 |
 |      This include count, mean, stddev, min, and max. If no columns are
 |      given, this function computes statistics for all numerical or string columns.
 |
 |      Notes
 |      -----
 |      This function is meant for exploratory data analysis, as we make no
 |      guarantee about the backward compatibility of the schema of the resulting
 |      :class:`DataFrame`.
 |
 |      Use summary for expanded statistics and control over which statistics to compute.
 |
 |      Examples
 |      --------
 |      >>> df.describe(['age']).show()
 |      +-------+------------------+
 |      |summary|               age|
 |      +-------+------------------+
 |      |  count|                 2|
 |      |   mean|               3.5|
 |      | stddev|2.1213203435596424|
 |      |    min|                 2|

In [0]:
users_df = spark.createDataFrame(pd.DataFrame(users)).show()

+---+----------+------------+--------------------+-----------+-----------+-------------+-------------------+
| id|first_name|   last_name|               email|is_customer|amount_paid|customer_from|    last_updated_ts|
+---+----------+------------+--------------------+-----------+-----------+-------------+-------------------+
|1.0|    Corrie|Van den Oord|cvandenoord0@etsy...|       true|    1000.55|   2021-01-15|2021-02-10 01:15:00|
|NaN|      null|        null|                null|       null|        NaN|         null|               null|
|2.0|  Nikolaus|     Brewitt|nbrewitt1@dailyma...|       true|      900.0|   2021-02-14|2021-02-18 03:33:00|
|3.0|    Orelie|      Penney|openney2@vistapri...|       true|     850.55|   2021-01-21|2021-03-15 15:16:55|
|3.0|    Orelie|      Penney|openney2@vistapri...|       true|     850.55|   2021-01-21|2021-03-15 15:16:55|
|4.0|     Ashby|    Maddocks|  amaddocks3@home.pl|      false|        NaN|         null|2021-04-10 17:45:30|
|4.0|     Ashby|    Maddocks|  amaddocks3@home.pl|      false|        NaN|         null|2021-04-10 17:45:30|
|5.0|      Kurt|        Rome|krome4@shutterfly...|      false|        NaN|         null|2021-04-02 00:55:18|
|NaN|      null|        null|                null|       null|        NaN|         null|               null|
|5.0|      null|        null|                null|       null|        NaN|         null|               null|
|NaN|      null|        null|nbrewitt1@dailyma...|       null|        NaN|         null|               null|
|NaN|      Kurt|        Rome|                null|      false|        NaN|         null|2021-04-02 00:55:18|
|2.0|  Nikolaus|     Brewitt|nbrewitt1@dailyma...|       true|     1050.0|   2021-02-14|2021-02-25 03:33:00|
+---+----------+------------+--------------------+-----------+-----------+-------------+-------------------+

In [0]:
# Here are the sorting scenarios which we should be familiar with.
# * Sort a data frame using ascending order by a specific column.
# * Sort a data frame using descending order by a specific column.
# * Dealing with nulls while sorting the data (having the null values at the beginning or at the end).
# * Sort a data frame using multiple columns (composite sorting). We also need to be aware of how to sort the data in ascending order by first column and then descending order by second column as well as vice versa.
# * We also need to make sure how to perform prioritized sorting. For example, let's say we want to get USA at the top and rest of the countries in ascending order by their respective names.

In [0]:
import datetime
users = [
    {
        "id": 1,
        "first_name": "Corrie",
        "last_name": "Van den Oord",
        "email": "cvandenoord0@etsy.com",
        "phone_numbers": Row(mobile="+1 234 567 8901", home="+1 234 567 8911"),
        "courses": [1, 2],
        "is_customer": True,
        "amount_paid": 1000.55,
        "customer_from": datetime.date(2021, 1, 15),
        "last_updated_ts": datetime.datetime(2021, 2, 10, 1, 15, 0)
    },
    {
        "id": 2,
        "first_name": "Nikolaus",
        "last_name": "Brewitt",
        "email": "nbrewitt1@dailymail.co.uk",
        "phone_numbers":  Row(mobile="+1 234 567 8923", home="1 234 567 8934"),
        "courses": [3],
        "is_customer": True,
        "amount_paid": 900.0,
        "customer_from": datetime.date(2021, 2, 14),
        "last_updated_ts": datetime.datetime(2021, 2, 18, 3, 33, 0)
    },
    {
        "id": 3,
        "first_name": "Orelie",
        "last_name": "Penney",
        "email": "openney2@vistaprint.com",
        "phone_numbers": Row(mobile="+1 714 512 9752", home="+1 714 512 6601"),
        "courses": [2, 4],
        "is_customer": True,
        "amount_paid": 850.55,
        "customer_from": datetime.date(2021, 1, 21),
        "last_updated_ts": datetime.datetime(2021, 3, 15, 15, 16, 55)
    },
    {
        "id": 4,
        "first_name": "Ashby",
        "last_name": "Maddocks",
        "email": "amaddocks3@home.pl",
        "phone_numbers": Row(mobile=None, home=None),
        "courses": [],
        "is_customer": False,
        "amount_paid": None,
        "customer_from": None,
        "last_updated_ts": datetime.datetime(2021, 4, 10, 17, 45, 30)
    },
    {
        "id": 5,
        "first_name": "Kurt",
        "last_name": "Rome",
        "email": "krome4@shutterfly.com",
        "phone_numbers": Row(mobile="+1 817 934 7142", home=None),
        "courses": [],
        "is_customer": False,
        "amount_paid": None,
        "customer_from": None,
        "last_updated_ts": datetime.datetime(2021, 4, 2, 0, 55, 18)
    }
]
import pandas as pd
spark.conf.set('spark.sql.execution.arrow.pyspark.enabled', False)
users_df = spark.createDataFrame(pd.DataFrame(users))
users_df.show()

+---+----------+------------+--------------------+--------------------+-------+-----------+-----------+-------------+-------------------+
| id|first_name|   last_name|               email|       phone_numbers|courses|is_customer|amount_paid|customer_from|    last_updated_ts|
+---+----------+------------+--------------------+--------------------+-------+-----------+-----------+-------------+-------------------+
|  1|    Corrie|Van den Oord|cvandenoord0@etsy...|{+1 234 567 8901,...| [1, 2]|       true|    1000.55|   2021-01-15|2021-02-10 01:15:00|
|  2|  Nikolaus|     Brewitt|nbrewitt1@dailyma...|{+1 234 567 8923,...|    [3]|       true|      900.0|   2021-02-14|2021-02-18 03:33:00|
|  3|    Orelie|      Penney|openney2@vistapri...|{+1 714 512 9752,...| [2, 4]|       true|     850.55|   2021-01-21|2021-03-15 15:16:55|
|  4|     Ashby|    Maddocks|  amaddocks3@home.pl|        {null, null}|     []|      false|        NaN|         null|2021-04-10 17:45:30|
|  5|      Kurt|        Rome|krome4@shutterfly...|{+1 817 934 7142,...|     []|      false|        NaN|         null|2021-04-02 00:55:18|
+---+----------+------------+--------------------+--------------------+-------+-----------+-----------+-------------+-------------------+

In [0]:
## sort data in ascending order , sort data in descending order 
from pyspark.sql.functions import col
users_df.show()
users_df.sort(col('first_name')).show()
## note : this will sort data in ascending order 
## note : this will sort data in descending order

# Questions : * Sort the **data** in ascending order by **number of enrolled courses**.

##
users_df.select('id', 'courses').withColumn('no_of_courses', size('courses')).sort(size('courses')).show()
## sort(,ascending=False)
users_df.sort('first_name', ascending=False).show()

###########
users_df.sort(users_df['first_name'].desc()).show()

+---+----------+------------+--------------------+--------------------+-------+-----------+-----------+-------------+-------------------+
| id|first_name|   last_name|               email|       phone_numbers|courses|is_customer|amount_paid|customer_from|    last_updated_ts|
+---+----------+------------+--------------------+--------------------+-------+-----------+-----------+-------------+-------------------+
|  1|    Corrie|Van den Oord|cvandenoord0@etsy...|{+1 234 567 8901,...| [1, 2]|       true|    1000.55|   2021-01-15|2021-02-10 01:15:00|
|  2|  Nikolaus|     Brewitt|nbrewitt1@dailyma...|{+1 234 567 8923,...|    [3]|       true|      900.0|   2021-02-14|2021-02-18 03:33:00|
|  3|    Orelie|      Penney|openney2@vistapri...|{+1 714 512 9752,...| [2, 4]|       true|     850.55|   2021-01-21|2021-03-15 15:16:55|
|  4|     Ashby|    Maddocks|  amaddocks3@home.pl|        {null, null}|     []|      false|        NaN|         null|2021-04-10 17:45:30|
|  5|      Kurt|        Rome|krome4@shutterfly...|{+1 817 934 7142,...|     []|      false|        NaN|         null|2021-04-02 00:55:18|
+---+----------+------------+--------------------+--------------------+-------+-----------+-----------+-------------+-------------------+

+---+----------+------------+--------------------+--------------------+-------+-----------+-----------+-------------+-------------------+
| id|first_name|   last_name|               email|       phone_numbers|courses|is_customer|amount_paid|customer_from|    last_updated_ts|
+---+----------+------------+--------------------+--------------------+-------+-----------+-----------+-------------+-------------------+
|  4|     Ashby|    Maddocks|  amaddocks3@home.pl|        {null, null}|     []|      false|        NaN|         null|2021-04-10 17:45:30|
|  1|    Corrie|Van den Oord|cvandenoord0@etsy...|{+1 234 567 8901,...| [1, 2]|       true|    1000.55|   2021-01-15|2021-02-10 01:15:00|
|  5|      Kurt|        Rome|krome4@shutterfly...|{+1 817 934 7142,...|     []|      false|        NaN|         null|2021-04-02 00:55:18|
|  2|  Nikolaus|     Brewitt|nbrewitt1@dailyma...|{+1 234 567 8923,...|    [3]|       true|      900.0|   2021-02-14|2021-02-18 03:33:00|
|  3|    Orelie|      Penney|openney2@vistapri...|{+1 714 512 9752,...| [2, 4]|       true|     850.55|   2021-01-21|2021-03-15 15:16:55|
+---+----------+------------+--------------------+--------------------+-------+-----------+-----------+-------------+-------------------+

+---+-------+-------------+
| id|courses|no_of_courses|
+---+-------+-------------+
|  4|     []|            0|
|  5|     []|            0|
|  2|    [3]|            1|
|  3| [2, 4]|            2|
|  1| [1, 2]|            2|
+---+-------+-------------+

+---+----------+------------+--------------------+--------------------+-------+-----------+-----------+-------------+-------------------+
| id|first_name|   last_name|               email|       phone_numbers|courses|is_customer|amount_paid|customer_from|    last_updated_ts|
+---+----------+------------+--------------------+--------------------+-------+-----------+-----------+-------------+-------------------+
|  3|    Orelie|      Penney|openney2@vistapri...|{+1 714 512 9752,...| [2, 4]|       true|     850.55|   2021-01-21|2021-03-15 15:16:55|
|  2|  Nikolaus|     Brewitt|nbrewitt1@dailyma...|{+1 234 567 8923,...|    [3]|       true|      900.0|   2021-02-14|2021-02-18 03:33:00|
|  5|      Kurt|        Rome|krome4@shutterfly...|{+1 817 934 7142,...|     []|      false|        NaN|         null|2021-04-02 00:55:18|
|  1|    Corrie|Van den Oord|cvandenoord0@etsy...|{+1 234 567 8901,...| [1, 2]|       true|    1000.55|   2021-01-15|2021-02-10 01:15:00|
|  4|     Ashby|    Maddocks|  amaddocks3@home.pl|        {null, null}|     []|      false|        NaN|         null|2021-04-10 17:45:30|
+---+----------+------------+--------------------+--------------------+-------+-----------+-----------+-------------+-------------------+

+---+----------+------------+--------------------+--------------------+-------+-----------+-----------+-------------+-------------------+
| id|first_name|   last_name|               email|       phone_numbers|courses|is_customer|amount_paid|customer_from|    last_updated_ts|
+---+----------+------------+--------------------+--------------------+-------+-----------+-----------+-------------+-------------------+
|  3|    Orelie|      Penney|openney2@vistapri...|{+1 714 512 9752,...| [2, 4]|       true|     850.55|   2021-01-21|2021-03-15 15:16:55|
|  2|  Nikolaus|     Brewitt|nbrewitt1@dailyma...|{+1 234 567 8923,...|    [3]|       true|      900.0|   2021-02-14|2021-02-18 03:33:00|
|  5|      Kurt|        Rome|krome4@shutterfly...|{+1 817 934 7142,...|     []|      false|        NaN|         null|2021-04-02 00:55:18|
|  1|    Corrie|Van den Oord|cvandenoord0@etsy...|{+1 234 567 8901,...| [1, 2]|       true|    1000.55|   2021-01-15|2021-02-10 01:15:00|
|  4|     Ashby|    Maddocks|  amaddocks3@home.pl|        {null, null}|     []|      false|        NaN|         null|2021-04-10 17:45:30|
+---+----------+------------+--------------------+--------------------+-------+-----------+-----------+-------------+-------------------+

In [0]:
## note: * Sort the data in ascending order by **customer_from** with null values coming at the end.


users_df.select('id', 'customer_from').orderBy(users_df['customer_from'].asc_nulls_last()).show()

## asc_nulls_last ==== give null at last 
###desc_nulls_first == give null at fist 
users_df.select('id', 'customer_from'). orderBy(users_df['customer_from'].desc_nulls_first()).show()

+---+-------------+
| id|customer_from|
+---+-------------+
|  1|   2021-01-15|
|  3|   2021-01-21|
|  2|   2021-02-14|
|  4|         null|
|  5|         null|
+---+-------------+

+---+-------------+
| id|customer_from|
+---+-------------+
|  5|         null|
|  4|         null|
|  2|   2021-02-14|
|  3|   2021-01-21|
|  1|   2021-01-15|
+---+-------------+

In [0]:
### sort by and orderBy 
# The difference between "order by" and "sort by" is that the former guarantees total order in the output while the latter only guarantees ordering of the rows within a reducer.

## composite sorting

In [0]:
courses = [{'course_id': 1,
  'course_name': '2020 Complete Python Bootcamp: From Zero to Hero in Python',
  'suitable_for': 'Beginner',
  'enrollment': 1100093,
  'stars': 4.6,
  'number_of_ratings': 318066},
 {'course_id': 4,
  'course_name': 'Angular - The Complete Guide (2020 Edition)',
  'suitable_for': 'Intermediate',
  'enrollment': 422557,
  'stars': 4.6,
  'number_of_ratings': 129984},
 {'course_id': 12,
  'course_name': 'Automate the Boring Stuff with Python Programming',
  'suitable_for': 'Advanced',
  'enrollment': 692617,
  'stars': 4.6,
  'number_of_ratings': 70508},
 {'course_id': 10,
  'course_name': 'Complete C# Unity Game Developer 2D',
  'suitable_for': 'Advanced',
  'enrollment': 364934,
  'stars': 4.6,
  'number_of_ratings': 78989},
 {'course_id': 5,
  'course_name': 'Java Programming Masterclass for Software Developers',
  'suitable_for': 'Advanced',
  'enrollment': 502572,
  'stars': 4.6,
  'number_of_ratings': 123798},
 {'course_id': 15,
  'course_name': 'Learn Python Programming Masterclass',
  'suitable_for': 'Advanced',
  'enrollment': 240790,
  'stars': 4.5,
  'number_of_ratings': 58677},
 {'course_id': 3,
  'course_name': 'Machine Learning A-Z™: Hands-On Python & R In Data Science',
  'suitable_for': 'Intermediate',
  'enrollment': 692812,
  'stars': 4.5,
  'number_of_ratings': 132228},
 {'course_id': 14,
  'course_name': 'Modern React with Redux [2020 Update]',
  'suitable_for': 'Intermediate',
  'enrollment': 203214,
  'stars': 4.7,
  'number_of_ratings': 60835},
 {'course_id': 8,
  'course_name': 'Python for Data Science and Machine Learning Bootcamp',
  'suitable_for': 'Intermediate',
  'enrollment': 387789,
  'stars': 4.6,
  'number_of_ratings': 87403},
 {'course_id': 6,
  'course_name': 'React - The Complete Guide (incl Hooks, React Router, Redux)',
  'suitable_for': 'Intermediate',
  'enrollment': 304670,
  'stars': 4.6,
  'number_of_ratings': 90964},
 {'course_id': 18,
  'course_name': 'Selenium WebDriver with Java -Basics to Advanced+Frameworks',
  'suitable_for': 'Advanced',
  'enrollment': 148562,
  'stars': 4.6,
  'number_of_ratings': 49947},
 {'course_id': 21,
  'course_name': 'Spring & Hibernate for Beginners (includes Spring Boot)',
  'suitable_for': 'Advanced',
  'enrollment': 177053,
  'stars': 4.6,
  'number_of_ratings': 45329},
 {'course_id': 7,
  'course_name': 'The Complete 2020 Web Development Bootcamp',
  'suitable_for': 'Beginner',
  'enrollment': 270656,
  'stars': 4.7,
  'number_of_ratings': 88098},
 {'course_id': 9,
  'course_name': 'The Complete JavaScript Course 2020: Build Real Projects!',
  'suitable_for': 'Intermediate',
  'enrollment': 347979,
  'stars': 4.6,
  'number_of_ratings': 83521},
 {'course_id': 16,
  'course_name': 'The Complete Node.js Developer Course (3rd Edition)',
  'suitable_for': 'Advanced',
  'enrollment': 202922,
  'stars': 4.7,
  'number_of_ratings': 50885},
 {'course_id': 13,
  'course_name': 'The Complete Web Developer Course 2.0',
  'suitable_for': 'Intermediate',
  'enrollment': 273598,
  'stars': 4.5,
  'number_of_ratings': 63175},
 {'course_id': 11,
  'course_name': 'The Data Science Course 2020: Complete Data Science Bootcamp',
  'suitable_for': 'Beginner',
  'enrollment': 325047,
  'stars': 4.5,
  'number_of_ratings': 76907},
 {'course_id': 20,
  'course_name': 'The Ultimate MySQL Bootcamp: Go from SQL Beginner to Expert',
  'suitable_for': 'Beginner',
  'enrollment': 203366,
  'stars': 4.6,
  'number_of_ratings': 45382},
 {'course_id': 2,
  'course_name': 'The Web Developer Bootcamp',
  'suitable_for': 'Beginner',
  'enrollment': 596726,
  'stars': 4.6,
  'number_of_ratings': 182997},
 {'course_id': 19,
  'course_name': 'Unreal Engine C++ Developer: Learn C++ and Make Video Games',
  'suitable_for': 'Advanced',
  'enrollment': 229005,
  'stars': 4.5,
  'number_of_ratings': 45860},
 {'course_id': 17,
  'course_name': 'iOS 13 & Swift 5 - The Complete iOS App Development Bootcamp',
  'suitable_for': 'Advanced',
  'enrollment': 179598,
  'stars': 4.8,
  'number_of_ratings': 49972}]

In [0]:
from pyspark.sql import Row
courses_df = spark.createDataFrame([Row(**course) for course in courses])
courses_df.show(2)

+---------+--------------------+------------+----------+-----+-----------------+
|course_id|         course_name|suitable_for|enrollment|stars|number_of_ratings|
+---------+--------------------+------------+----------+-----+-----------------+
|        1|2020 Complete Pyt...|    Beginner|   1100093|  4.6|           318066|
|        4|Angular - The Com...|Intermediate|    422557|  4.6|           129984|
+---------+--------------------+------------+----------+-----+-----------------+
only showing top 2 rows

In [0]:
courses_df.dtypes
courses_df.sort(courses_df['suitable_for'], courses_df['number_of_ratings'].desc()).show()

+---------+--------------------+------------+----------+-----+-----------------+
|course_id|         course_name|suitable_for|enrollment|stars|number_of_ratings|
+---------+--------------------+------------+----------+-----+-----------------+
|        5|Java Programming ...|    Advanced|    502572|  4.6|           123798|
|       10|Complete C# Unity...|    Advanced|    364934|  4.6|            78989|
|       12|Automate the Bori...|    Advanced|    692617|  4.6|            70508|
|       15|Learn Python Prog...|    Advanced|    240790|  4.5|            58677|
|       16|The Complete Node...|    Advanced|    202922|  4.7|            50885|
|       17|iOS 13 & Swift 5 ...|    Advanced|    179598|  4.8|            49972|
|       18|Selenium WebDrive...|    Advanced|    148562|  4.6|            49947|
|       19|Unreal Engine C++...|    Advanced|    229005|  4.5|            45860|
|       21|Spring & Hibernat...|    Advanced|    177053|  4.6|            45329|
|        1|2020 Complete Pyt...|    Beginner|   1100093|  4.6|           318066|
|        2|The Web Developer...|    Beginner|    596726|  4.6|           182997|
|        7|The Complete 2020...|    Beginner|    270656|  4.7|            88098|
|       11|The Data Science ...|    Beginner|    325047|  4.5|            76907|
|       20|The Ultimate MySQ...|    Beginner|    203366|  4.6|            45382|
|        3|Machine Learning ...|Intermediate|    692812|  4.5|           132228|
|        4|Angular - The Com...|Intermediate|    422557|  4.6|           129984|
|        6|React - The Compl...|Intermediate|    304670|  4.6|            90964|
|        8|Python for Data S...|Intermediate|    387789|  4.6|            87403|
|        9|The Complete Java...|Intermediate|    347979|  4.6|            83521|
|       13|The Complete Web ...|Intermediate|    273598|  4.5|            63175|
+---------+--------------------+------------+----------+-----+-----------------+
only showing top 20 rows

## prioterizing the sorting of DataFrame

In [0]:
courses = [{'course_id': 1,
  'course_name': '2020 Complete Python Bootcamp: From Zero to Hero in Python',
  'suitable_for': 'Beginner',
  'enrollment': 1100093,
  'stars': 4.6,
  'number_of_ratings': 318066},
 {'course_id': 4,
  'course_name': 'Angular - The Complete Guide (2020 Edition)',
  'suitable_for': 'Intermediate',
  'enrollment': 422557,
  'stars': 4.6,
  'number_of_ratings': 129984},
 {'course_id': 12,
  'course_name': 'Automate the Boring Stuff with Python Programming',
  'suitable_for': 'Advanced',
  'enrollment': 692617,
  'stars': 4.6,
  'number_of_ratings': 70508},
 {'course_id': 10,
  'course_name': 'Complete C# Unity Game Developer 2D',
  'suitable_for': 'Advanced',
  'enrollment': 364934,
  'stars': 4.6,
  'number_of_ratings': 78989},
 {'course_id': 5,
  'course_name': 'Java Programming Masterclass for Software Developers',
  'suitable_for': 'Advanced',
  'enrollment': 502572,
  'stars': 4.6,
  'number_of_ratings': 123798},
 {'course_id': 15,
  'course_name': 'Learn Python Programming Masterclass',
  'suitable_for': 'Advanced',
  'enrollment': 240790,
  'stars': 4.5,
  'number_of_ratings': 58677},
 {'course_id': 3,
  'course_name': 'Machine Learning A-Z™: Hands-On Python & R In Data Science',
  'suitable_for': 'Intermediate',
  'enrollment': 692812,
  'stars': 4.5,
  'number_of_ratings': 132228},
 {'course_id': 14,
  'course_name': 'Modern React with Redux [2020 Update]',
  'suitable_for': 'Intermediate',
  'enrollment': 203214,
  'stars': 4.7,
  'number_of_ratings': 60835},
 {'course_id': 8,
  'course_name': 'Python for Data Science and Machine Learning Bootcamp',
  'suitable_for': 'Intermediate',
  'enrollment': 387789,
  'stars': 4.6,
  'number_of_ratings': 87403},
 {'course_id': 6,
  'course_name': 'React - The Complete Guide (incl Hooks, React Router, Redux)',
  'suitable_for': 'Intermediate',
  'enrollment': 304670,
  'stars': 4.6,
  'number_of_ratings': 90964},
 {'course_id': 18,
  'course_name': 'Selenium WebDriver with Java -Basics to Advanced+Frameworks',
  'suitable_for': 'Advanced',
  'enrollment': 148562,
  'stars': 4.6,
  'number_of_ratings': 49947},
 {'course_id': 21,
  'course_name': 'Spring & Hibernate for Beginners (includes Spring Boot)',
  'suitable_for': 'Advanced',
  'enrollment': 177053,
  'stars': 4.6,
  'number_of_ratings': 45329},
 {'course_id': 7,
  'course_name': 'The Complete 2020 Web Development Bootcamp',
  'suitable_for': 'Beginner',
  'enrollment': 270656,
  'stars': 4.7,
  'number_of_ratings': 88098},
 {'course_id': 9,
  'course_name': 'The Complete JavaScript Course 2020: Build Real Projects!',
  'suitable_for': 'Intermediate',
  'enrollment': 347979,
  'stars': 4.6,
  'number_of_ratings': 83521},
 {'course_id': 16,
  'course_name': 'The Complete Node.js Developer Course (3rd Edition)',
  'suitable_for': 'Advanced',
  'enrollment': 202922,
  'stars': 4.7,
  'number_of_ratings': 50885},
 {'course_id': 13,
  'course_name': 'The Complete Web Developer Course 2.0',
  'suitable_for': 'Intermediate',
  'enrollment': 273598,
  'stars': 4.5,
  'number_of_ratings': 63175},
 {'course_id': 11,
  'course_name': 'The Data Science Course 2020: Complete Data Science Bootcamp',
  'suitable_for': 'Beginner',
  'enrollment': 325047,
  'stars': 4.5,
  'number_of_ratings': 76907},
 {'course_id': 20,
  'course_name': 'The Ultimate MySQL Bootcamp: Go from SQL Beginner to Expert',
  'suitable_for': 'Beginner',
  'enrollment': 203366,
  'stars': 4.6,
  'number_of_ratings': 45382},
 {'course_id': 2,
  'course_name': 'The Web Developer Bootcamp',
  'suitable_for': 'Beginner',
  'enrollment': 596726,
  'stars': 4.6,
  'number_of_ratings': 182997},
 {'course_id': 19,
  'course_name': 'Unreal Engine C++ Developer: Learn C++ and Make Video Games',
  'suitable_for': 'Advanced',
  'enrollment': 229005,
  'stars': 4.5,
  'number_of_ratings': 45860},
 {'course_id': 17,
  'course_name': 'iOS 13 & Swift 5 - The Complete iOS App Development Bootcamp',
  'suitable_for': 'Advanced',
  'enrollment': 179598,
  'stars': 4.8,
  'number_of_ratings': 49972}]
from pyspark.sql import Row
courses_df = spark.createDataFrame([Row(**course) for course in courses])
from pyspark.sql.functions import col, when

In [0]:
course_level = when(col('suitable_for') == 'Beginner', 0).otherwise(when(col('suitable_for') == 'Intermediate', 1).otherwise(2))

In [0]:
# Using expr and then case and when

from pyspark.sql.functions import expr

course_level = expr("""
    CASE 
        WHEN suitable_for = 'Beginner'
            THEN 0
        WHEN suitable_for = 'Intermediate'
            THEN 1
        ELSE 2
    END
""")

courses_df. \
    sort(course_level, col('number_of_ratings').desc()). \
    show()

+---------+--------------------+------------+----------+-----+-----------------+
|course_id|         course_name|suitable_for|enrollment|stars|number_of_ratings|
+---------+--------------------+------------+----------+-----+-----------------+
|        1|2020 Complete Pyt...|    Beginner|   1100093|  4.6|           318066|
|        2|The Web Developer...|    Beginner|    596726|  4.6|           182997|
|        7|The Complete 2020...|    Beginner|    270656|  4.7|            88098|
|       11|The Data Science ...|    Beginner|    325047|  4.5|            76907|
|       20|The Ultimate MySQ...|    Beginner|    203366|  4.6|            45382|
|        3|Machine Learning ...|Intermediate|    692812|  4.5|           132228|
|        4|Angular - The Com...|Intermediate|    422557|  4.6|           129984|
|        6|React - The Compl...|Intermediate|    304670|  4.6|            90964|
|        8|Python for Data S...|Intermediate|    387789|  4.6|            87403|
|        9|The Complete Java...|Intermediate|    347979|  4.6|            83521|
|       13|The Complete Web ...|Intermediate|    273598|  4.5|            63175|
|       14|Modern React with...|Intermediate|    203214|  4.7|            60835|
|        5|Java Programming ...|    Advanced|    502572|  4.6|           123798|
|       10|Complete C# Unity...|    Advanced|    364934|  4.6|            78989|
|       12|Automate the Bori...|    Advanced|    692617|  4.6|            70508|
|       15|Learn Python Prog...|    Advanced|    240790|  4.5|            58677|
|       16|The Complete Node...|    Advanced|    202922|  4.7|            50885|
|       17|iOS 13 & Swift 5 ...|    Advanced|    179598|  4.8|            49972|
|       18|Selenium WebDrive...|    Advanced|    148562|  4.6|            49947|
|       19|Unreal Engine C++...|    Advanced|    229005|  4.5|            45860|
+---------+--------------------+------------+----------+-----+-----------------+
only showing top 20 rows